<template>
  <half-circle-spinner
    v-if="$apollo.queries.messages.loading"
    disabled
    animation-duration="2000"
    size="20"
    color="#e43a06"
    class="spinner"
  />
  <div v-else>
    <CTable>
      <CTableHead>
        <CTableRow>
          <CTableHeaderCell scope="col">#</CTableHeaderCell>
          <CTableHeaderCell scope="col">Name</CTableHeaderCell>
          <CTableHeaderCell scope="col">Email</CTableHeaderCell>
          <CTableHeaderCell scope="col">Subject</CTableHeaderCell>
          <CTableHeaderCell scope="col">Action</CTableHeaderCell>
        </CTableRow>
      </CTableHead>
      <CTableBody>
        <CTableRow v-for="(message, index) in messages.data" :key="index">
          <CTableHeaderCell scope="row">{{ message.id }}</CTableHeaderCell>
          <CTableDataCell>
            {{ message.name }}
          </CTableDataCell>
          <CTableDataCell>
            {{ message.email }}
          </CTableDataCell>
          <CTableDataCell>
            {{ message.subject.substring(0, 50) }}
          </CTableDataCell>
          <CTableDataCell>
            <CButton
              color="success"
              class="mb-3"
              @click="
                () => {
                  visibleAddModal = true;
                  this.selectedMessage = message;
                }
              "
            >
              <i class="bi bi-eye"></i>
            </CButton>
          </CTableDataCell>
        </CTableRow>
      </CTableBody>
    </CTable>
    <CPagination
      class="d-flex justify-content-center mt-3"
      v-if="messages && messages.data.length > 0"
      aria-label="Page navigation example"
      style="direction: rtl"
    >
      <CPaginationItem
        aria-label="Previous"
        v-if="
          messages.current_page <= messages.last_page &&
          messages.current_page != 1
        "
        :href="'/admin/support-message?page=' + (messages.current_page - 1)"
        ><span aria-hidden="true">&laquo;</span></CPaginationItem
      >
      <CPaginationItem
        :href="'/admin/support-message?page=' + messages.current_page"
        active
        >{{ messages.current_page }}</CPaginationItem
      >
      <CPaginationItem
        aria-label="Next"
        v-if="messages.current_page + 1 <= messages.last_page"
        :href="'/admin/support-message?page=' + (messages.current_page + 1)"
        ><span aria-hidden="true">&raquo;</span></CPaginationItem
      >
    </CPagination>

    <CModal
      alignment="center"
      :visible="visibleAddModal"
      @close="visibleAddModal = false"
    >
      <CModalHeader>
        <CModalTitle>Message Info</CModalTitle>
      </CModalHeader>
      <CModalBody>
        <CRow>
          <CCol md="3">
            <p class="mb-0 fw-bold">Name</p>
          </CCol>
          <CCol md="9">
            <p class="text-muted mb-0">{{ this.selectedMessage.name }}</p>
          </CCol>
        </CRow>
        <hr />
        <CRow>
          <CCol md="3">
            <p class="mb-0 fw-bold">Email</p>
          </CCol>
          <CCol md="9">
            <p class="text-muted mb-0">{{ this.selectedMessage.email }}</p>
          </CCol>
        </CRow>
        <hr />
        <CRow>
          <CCol md="3">
            <p class="mb-0 fw-bold">Subject</p>
          </CCol>
          <CCol md="9">
            <p class="text-muted mb-0">{{ this.selectedMessage.subject }}</p>
          </CCol>
        </CRow>
        <hr />
        <CRow>
          <CCol md="3">
            <p class="mb-0 fw-bold">Message</p>
          </CCol>
          <CCol md="9">
            <p class="text-muted mb-0">{{ this.selectedMessage.message }}</p>
          </CCol>
        </CRow>
      </CModalBody>
      <CModalFooter>
        <CButton
          color="secondary"
          @click="
            () => {
              visibleAddModal = false;
            }
          "
          >Close</CButton
        >
      </CModalFooter>
    </CModal>
  </div>
</template>

<script>
import MESSAGE from "@/graphql/queries/support/SupportMessages.gql";
import { HalfCircleSpinner } from "epic-spinners";
export default {
  name: "MessageList",
  components: {
    HalfCircleSpinner,
  },
  apollo: {
    messages: {
      query: MESSAGE,
      fetchPolicy: "cache-and-network",
      variables() {
        return {
          page: this.$route.query.page ? parseInt(this.$route.query.page) : 1,
        };
      },
    },
  },
  data() {
    return {
      messages: null,
      selectedMessage: null,
      visibleAddModal: false,
    };
  },
};
</script>
