<template>
  <half-circle-spinner
    v-if="$apollo.queries.subScriptions.loading"
    disabled
    animation-duration="2000"
    size="20"
    color="#e43a06"
    class="spinner"
  />
  <div v-else>
    <CTable>
      <CTableHead>
        <CTableRow>
          <CTableHeaderCell scope="col">#</CTableHeaderCell>
          <CTableHeaderCell scope="col">Email</CTableHeaderCell>
          <CTableHeaderCell scope="col">Enable</CTableHeaderCell>
          <CTableHeaderCell scope="col">Action</CTableHeaderCell>
        </CTableRow>
      </CTableHead>
      <CTableBody>
        <CTableRow
          v-for="(subscription, index) in subScriptions.data"
          :key="index"
        >
          <CTableHeaderCell scope="row">{{ subscription.id }}</CTableHeaderCell>
          <CTableDataCell>
            {{ subscription.email }}
          </CTableDataCell>
          <CTableDataCell>
            {{ subscription.enable }}
          </CTableDataCell>
          <CTableDataCell>
            <CButton
              color="danger"
              @click="updateEnable(subscription.id)"
              v-if="subscription.enable == 1"
              >Disable</CButton
            >
            <CButton
              color="success"
              @click="updateEnable(subscription.id)"
              v-else
              >Enable</CButton
            >
          </CTableDataCell>
        </CTableRow>
      </CTableBody>
    </CTable>
    <CPagination
      class="d-flex justify-content-center mt-3"
      v-if="subScriptions && subScriptions.data.length > 0"
      aria-label="Page navigation example"
      style="direction: rtl"
    >
      <CPaginationItem
        aria-label="Previous"
        v-if="
          subScriptions.current_page <= subScriptions.last_page &&
          subScriptions.current_page != 1
        "
        :href="'/admin/subscription?page=' + (subScriptions.current_page - 1)"
        ><span aria-hidden="true">&laquo;</span></CPaginationItem
      >
      <CPaginationItem
        :href="'/admin/subscription?page=' + subScriptions.current_page"
        active
        >{{ subScriptions.current_page }}</CPaginationItem
      >
      <CPaginationItem
        aria-label="Next"
        v-if="subScriptions.current_page + 1 <= subScriptions.last_page"
        :href="'/admin/subscription?page=' + (subScriptions.current_page + 1)"
        ><span aria-hidden="true">&raquo;</span>
      </CPaginationItem>
    </CPagination>
  </div>
</template>
<script>
import { failedToast, successToast } from "@/utilities/helper";
import SUBSCRIPTION from "@/graphql/queries/subscription/SubScriptions.gql";
import UPDATE_ENABLE from "@/graphql/mutations/admin/subscription/UpdateEnable.gql";
import { HalfCircleSpinner } from "epic-spinners";
export default {
  name: "SubScriptionList",
  components: {
    HalfCircleSpinner,
  },
  apollo: {
    subScriptions: {
      query: SUBSCRIPTION,
      fetchPolicy: "cache-and-network",
      variables() {
        return {
          page: this.$route.query.page ? parseInt(this.$route.query.page) : 1,
        };
      },
    },
  },
  data() {
    return {
      subScriptions: null,
    };
  },
  methods: {
    updateEnable(subscriber_id) {
      this.$apollo
        .mutate({
          mutation: UPDATE_ENABLE,
          variables: {
            id: subscriber_id,
          },
        })
        .then((data) => {
          if (data.data["updateEnable"].result) {
            successToast(data.data["updateEnable"].message);
            this.$apollo.queries.subScriptions.refetch();
          } else {
            failedToast(data.data["updateEnable"].message);
          }
        })
        .catch((error) => {
          failedToast(error.graphQLErrors[0]);
        });
    },
  },
};
</script>
