<template>
  <half-circle-spinner
    v-if="$apollo.queries.activities.loading"
    disabled
    animation-duration="2000"
    size="20"
    color="#e43a06"
    class="spinner"
  />
  <div v-else>
    <a class="btn btn-dark" href="/admin/activity/create">
      <CIcon icon="cil-plus" /> New
    </a>
    <CTable>
      <CTableHead>
        <CTableRow>
          <CTableHeaderCell scope="col">#</CTableHeaderCell>
          <CTableHeaderCell scope="col">Title</CTableHeaderCell>
          <CTableHeaderCell scope="col">Organiser</CTableHeaderCell>
          <CTableHeaderCell scope="col">type</CTableHeaderCell>
          <CTableHeaderCell scope="col">Action</CTableHeaderCell>
        </CTableRow>
      </CTableHead>
      <CTableBody>
        <CTableRow v-for="(activity, index) in activities.data" :key="index">
          <CTableHeaderCell scope="row">{{ activity.id }}</CTableHeaderCell>
          <CTableDataCell>
            {{ activity.title }}
          </CTableDataCell>
          <CTableDataCell>
            {{ activity.organiser.name }}
          </CTableDataCell>
          <CTableDataCell>{{ activity.type }} </CTableDataCell>
          <CTableDataCell>
            <div class="d-grid gap-2 d-md-flex justify-content-md">
              <a
                class="btn btn-success"
                @click="
                  () => {
                    visibleAddModal = true;
                    this.activity = activity;
                  }
                "
              >
                <i class="bi bi-eye"></i>
              </a>
              <a
                class="btn btn-primary"
                :href="'/admin/activity/edit/' + activity.id"
              >
                <i class="bi bi-pencil-square"></i>
              </a>
              <CButton color="danger" @click="deleteActivity(activity.id)">
                <CIcon icon="cil-trash" />
              </CButton>
            </div>
          </CTableDataCell>
        </CTableRow>
      </CTableBody>
    </CTable>
    <CPagination
      class="d-flex justify-content-center mt-3"
      v-if="activities && activities.data.length > 0"
      aria-label="Page navigation example"
      style="direction: rtl"
    >
      <CPaginationItem
        aria-label="Previous"
        v-if="
          activities.current_page <= activities.last_page &&
          activities.current_page != 1
        "
        :href="'/admin/activity?page=' + (activities.current_page - 1)"
        ><span aria-hidden="true">&laquo;</span></CPaginationItem
      >
      <CPaginationItem
        :href="'/admin/activity?page=' + activities.current_page"
        active
        >{{ activities.current_page }}</CPaginationItem
      >
      <CPaginationItem
        aria-label="Next"
        v-if="activities.current_page + 1 <= activities.last_page"
        :href="'/admin/activity?page=' + (activities.current_page + 1)"
        ><span aria-hidden="true">&raquo;</span></CPaginationItem
      >
    </CPagination>
    <CModal
      size="lg"
      alignment="center"
      :visible="visibleAddModal"
      @close="visibleAddModal = false"
    >
      <CModalHeader
        :style="{
          'background-image': 'url(' + baseUrl + activity.cover + ')',
          'background-repeat': 'no-repeat',
          'background-position': 'center',
          'background-size': 'contain',
        }"
      >
      </CModalHeader>
      <CModalBody>
        <CRow>
          <CCol md="3">
            <p class="mb-0 fw-bold">Title:</p>
          </CCol>
          <CCol md="9">
            <p class="text-muted mb-0">
              {{ this.activity.title }} - {{ this.activity.type }}
            </p>
          </CCol>
        </CRow>
        <CRow>
          <CCol md="3">
            <p class="mb-0 fw-bold">By</p>
          </CCol>
          <CCol md="9">
            <p class="text-muted mb-0">
              {{ this.activity.organiser.name }}
            </p>
          </CCol>
        </CRow>
        <CRow>
          <CCol md="3">
            <p class="mb-0 fw-bold">Date</p>
          </CCol>
          <CCol md="9">
            <p class="text-muted mb-0">
              {{ this.activity.start_date }} - {{ this.activity.end_date }}
            </p>
          </CCol>
        </CRow>
        <CRow>
          <CCol md="3">
            <p class="mb-0 fw-bold">Description</p>
          </CCol>
          <CCol md="9">
            <p class="text-muted mb-0" v-html="this.activity.description"></p>
          </CCol>
        </CRow>
        <CRow>
          <CCol md="3">
            <p class="mb-0 fw-bold">Region</p>
          </CCol>
          <CCol md="9">
            <p class="text-muted mb-0">
              {{ this.activity.region.name }}
            </p>
          </CCol>
        </CRow>
        <CRow>
          <CCol md="3">
            <p class="mb-0 fw-bold">Cost</p>
          </CCol>
          <CCol md="9">
            <p class="text-muted mb-0">
              {{ this.activity.cost }}
            </p>
          </CCol>
        </CRow>
        <CRow>
          <CCol md="3">
            <p class="mb-0 fw-bold">Age</p>
          </CCol>
          <CCol md="9">
            <p class="text-muted mb-0">
              {{ this.activity.age }}
            </p>
          </CCol>
        </CRow>
        <CRow>
          <CCol md="3">
            <p class="mb-0 fw-bold">Interests</p>
          </CCol>
          <CCol md="9">
            <p class="text-muted mb-0">
              <span
                v-for="interest in this.activity.interests"
                :key="interest.id"
              >
                - {{ interest.name }}
              </span>
            </p>
          </CCol>
        </CRow>
      </CModalBody>
    </CModal>
  </div>
</template>

<script>
import ACTIVITIES from "@/graphql/queries/activity/Activities.gql";
import DELETE_ACTIVITY from "@/graphql/mutations/admin/activity/DeleteActivity.gql";
import { failedToast, successToast } from "@/utilities/helper";
import { BaseUrl } from "@/utilities/constants.js";
import { HalfCircleSpinner } from "epic-spinners";
export default {
  name: "RegionView",
  components: {
    HalfCircleSpinner,
  },
  apollo: {
    activities: {
      query: ACTIVITIES,
      fetchPolicy: "cache-and-network",
      variables() {
        return {
          page: this.$route.query.page ? parseInt(this.$route.query.page) : 1,
        };
      },
    },
  },
  data() {
    return {
      visibleAddModal: false,
      activities: null,
      baseUrl: BaseUrl,
      activity: null,
    };
  },
  methods: {
    deleteActivity(id) {
      this.$apollo
        .mutate({
          mutation: DELETE_ACTIVITY,
          variables: {
            id: id,
          },
        })
        .then((data) => {
          if (data.data["deleteActivity"].result) {
            successToast(data.data["deleteActivity"].message);
            this.$apollo.queries.activities.refetch();
            if (this.activities.data.length == 1) {
              this.$router.replace({
                query: { page: this.$route.query.page - 1 },
              });
            }
          } else {
            failedToast(data.data["deleteActivity"].message);
          }
        })
        .catch((error) => {
          failedToast(error.graphQLErrors[0].message);
        });
    },
  },
};
</script>
