<template>
  <half-circle-spinner
    v-if="
      $apollo.queries.regions.loading ||
      $apollo.queries.organisers.loading ||
      $apollo.queries.interests.loading
    "
    disabled
    animation-duration="2000"
    size="20"
    color="#e43a06"
    class="spinner"
  />
  <CRow v-else>
    <CCol md="12">
      <CCard>
        <CCardBody>
          <CForm
            class="row g-3 needs-validation"
            novalidate
            :validated="validated"
            @submit.prevent="handleSubmit"
          >
            <CCol md="6" class="position-relative">
              <CFormInput
                feedbackInvalid="Please select a valid title."
                label="Title"
                id="title"
                v-model="title"
                class="admin"
                required
              />
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormLabel for="address">Address</CFormLabel>
              <CFormInput
                feedbackInvalid="Please select a valid address."
                id="address"
                v-model="address"
                class="admin"
                required
              />
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormSelect
                class="admin"
                aria-describedby="regionFeedback"
                feedbackInvalid="Please select a valid region."
                id="region"
                label="Region"
                v-model="region"
                required
              >
                <option selected="" disabled="" value="">Choose...</option>
                <option
                  v-for="region in regions.data"
                  :key="region.id"
                  :value="region.id"
                >
                  {{ region.name }}
                </option>
              </CFormSelect>
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormLabel for="interest">Interest</CFormLabel>
              <span id="interest-select">
                <Select2
                  v-model="interest"
                  :options="activity_interest"
                  :settings="{
                    multiple: true,
                    disabled: disabled,
                    placeholder: 'Choose interest',
                  }"
                />
              </span>
              <CFormFeedback
                class="invalid-feedback"
                id="interest-required-label"
                >Please provide a Interest.</CFormFeedback
              >
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormSelect
                aria-describedby="organiserFeedback"
                feedbackInvalid="Please select a valid organiser."
                id="organiser"
                label="Organiser"
                v-model="organiser"
                required
              >
                <option selected="" disabled="" value="">Choose...</option>
                <option
                  v-for="organiser in organisers.data"
                  :key="organiser.id"
                  :value="organiser.id"
                >
                  {{ organiser.name }}
                </option>
              </CFormSelect>
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormSelect
                class="admin"
                aria-describedby="ageFeedback"
                feedbackInvalid="Please select a valid age."
                id="age"
                label="Age"
                v-model="age"
                required
              >
                <option selected="" disabled="" value="">Choose...</option>
                <option v-for="age in age_levels" :value="age" :key="age">
                  {{ age }}
                </option>
              </CFormSelect>
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormLabel for="date">Duration</CFormLabel>
              <VueDatePicker v-model="date" range required> </VueDatePicker>
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormInput
                type="number"
                min="0"
                max="1000"
                step="0.01"
                feedbackInvalid="Please select a valid cost."
                label="Cost"
                id="cost"
                v-model="cost"
                class="admin"
                required
              />
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormLabel for="cover">Cover</CFormLabel>
              <CFormInput
                feedbackInvalid="Please select a valid cover."
                type="file"
                id="cover"
                class="admin"
                @change="handleFileUpload"
                required
              />
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormLabel for="type">Type</CFormLabel>
              <div class="d-flex mt-1">
                <div style="margin-right: 20px">
                  <CFormCheck
                    feedbackInvalid="Please select a valid type."
                    type="radio"
                    name="type"
                    id="CAMP"
                    value="CAMP"
                    @change="onTypeChange($event)"
                    label="CAMP"
                    required
                  />
                </div>
                <CFormCheck
                  type="radio"
                  name="type"
                  id="EVENT"
                  value="EVENT"
                  @change="onTypeChange($event)"
                  label="EVENT"
                />
              </div>
            </CCol>
            <CCol v-if="cover" md="6" class="position-relative">
              <CCardImage :src="coverSrc" />
            </CCol>
            <CCol md="12" class="position-relative">
              <CFormLabel for="description">Description</CFormLabel>
              <span id="description">
                <ckeditor
                  :editor="editor"
                  v-model="description"
                  required
                ></ckeditor>
              </span>
              <CFormFeedback
                class="invalid-feedback"
                id="desc-required-label"
                invalid
              >
                Please provide a valid description.
              </CFormFeedback>
            </CCol>
            <div class="d-grid gap-2 d-md-flex justify-content-md">
              <CButton color="success" type="submit">Save</CButton>
              <CButton color="dark" @click="this.$router.back()"
                >Cancel</CButton
              >
            </div>
          </CForm>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>
<style>
#interest-required-label {
  display: none;
}
</style>
<script>
import INTERESTS from "@/graphql/queries/interest/Interests.gql";
import REGIONS from "@/graphql/queries/region/Regions.gql";
import ORGANIERS from "@/graphql/queries/organiser/Organisers.gql";
import CREATE_ACTIVITY from "@/graphql/mutations/admin/activity/CreateActivity.gql";
import { HalfCircleSpinner } from "epic-spinners";
import {
  failedToast,
  successToast,
  isEmpty,
  changeFormatDate,
} from "@/utilities/helper";
import { AGE_LEVELS } from "@/utilities/constants";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import Select2 from "vue3-select2-component";
export default {
  name: "CreateActivity",
  components: {
    HalfCircleSpinner,
    Select2,
  },
  apollo: {
    regions: {
      query: REGIONS,
      fetchPolicy: "cache-and-network",
    },
    organisers: {
      query: ORGANIERS,
      fetchPolicy: "cache-and-network",
    },
    interests: {
      query: INTERESTS,
      fetchPolicy: "cache-and-network",
      result(ApolloQueryResult) {
        let interestData = ApolloQueryResult.data.interests.data;
        for (let i = 0; i < interestData.length; i++) {
          this.activity_interest.push({
            text: interestData[i].name,
            id: interestData[i].id,
          });
        }
      },
    },
  },
  data() {
    return {
      activity_interest: [],
      age_levels: AGE_LEVELS,
      validated: null,
      regions: null,
      organisers: null,
      interests: null,
      editor: ClassicEditor,
      title: null,
      type: null,
      cost: null,
      description: null,
      cover: null,
      region: null,
      age: null,
      date: [new Date(), new Date()],
      start_date: null,
      end_date: null,
      organiser: null,
      address: null,
      interest: [],
      coverSrc: null,
    };
  },
  methods: {
    onTypeChange(event) {
      this.type = event.target.value;
    },
    handleSubmit(event) {
      const form = event.currentTarget;
      if (!this.description) {
        document.getElementById("description").style.cssText =
          "border: 1px solid red; display:inherit ; border-radius: 5px;color:red";
        document.getElementById("desc-required-label").style.cssText =
          "display:block";
      }
      if (this.interest.length == 0) {
        document.getElementById("interest-required").style.cssText =
          "border: 1px solid red; display: inline-block; border-radius: 5px;color:red";
        document.getElementById("interest-required-label").style.cssText =
          "display:block";
      }
      if (form.checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
      }
      this.validated = true;
      this.createActivity();
    },
    handleFileUpload(event) {
      this.cover = event.target.files[0];
      this.displayImage(this.cover);
    },
    displayImage(cover) {
      const reader = new FileReader();
      reader.onload = (e) => {
        this.coverSrc = e.target.result;
      };
      reader.readAsDataURL(cover);
    },
    createActivity() {
      this.start_date = changeFormatDate(this.date[0]);
      this.end_date = changeFormatDate(this.date[1]);
      if (
        !isEmpty(this.title) &&
        !isEmpty(this.address) &&
        !isEmpty(this.type) &&
        !isEmpty(this.description) &&
        !isEmpty(this.region) &&
        !isEmpty(this.age) &&
        !isEmpty(this.start_date) &&
        !isEmpty(this.end_date) &&
        !isEmpty(this.interests) &&
        !isEmpty(this.organiser) &&
        !isEmpty(this.cost) &&
        !isEmpty(this.cover)
      ) {
        this.$apollo
          .mutate({
            mutation: CREATE_ACTIVITY,
            variables: {
              title: this.title,
              type: this.type,
              cost: this.cost.toString(),
              description: this.description,
              address: this.address,
              cover: this.cover,
              region: this.region,
              age: this.age,
              start_date: this.start_date,
              end_date: this.end_date,
              interests: this.interest,
              organiser: this.organiser,
            },
          })
          .then((data) => {
            if (data.data["createActivity"].result) {
              successToast(data.data["createActivity"].message);
              this.$router.back();
            } else {
              failedToast(data.data["createActivity"].message);
            }
          })
          .catch((error) => {
            failedToast(error.graphQLErrors[0].extensions.validation.name[0]);
          });
      } else {
        failedToast("Please, fill all required field");
      }
    },
  },
};
</script>
