<template>
  <half-circle-spinner
    v-if="
      $apollo.queries.regions.loading ||
      $apollo.queries.organisers.loading ||
      $apollo.queries.interests.loading ||
      $apollo.queries.activity.loading
    "
    disabled
    animation-duration="2000"
    size="20"
    color="#e43a06"
    class="spinner"
  />
  <CRow class="mb-5" v-else>
    <CCol md="9">
      <CCard>
        <CCardBody>
          <CForm
            class="row g-3 needs-validation"
            novalidate
            :validated="validated"
            @submit.prevent="handleSubmit"
          >
            <CCol md="6" class="position-relative">
              <CFormInput
                feedbackInvalid="Please select a valid title."
                label="Title"
                id="title"
                :value="title"
                v-model="title"
                class="admin"
                required
              />
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormLabel for="address">Address</CFormLabel>
              <CFormInput
                feedbackInvalid="Please select a valid address."
                id="address"
                :value="address"
                v-model="address"
                class="admin"
                required
              />
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormSelect
                class="admin"
                aria-describedby="regionFeedback"
                feedbackInvalid="Please select a valid region."
                id="region"
                label="Region"
                :value="region"
                v-model="region"
                required
              >
                <option selected="" disabled="" value="">Choose...</option>
                <option
                  v-for="region in regions.data"
                  :key="region.id"
                  :value="region.id"
                >
                  {{ region.name }}
                </option>
              </CFormSelect>
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormSelect
                aria-describedby="organiserFeedback"
                feedbackInvalid="Please select a valid organiser."
                id="organiser"
                label="Organiser"
                :value="organiser"
                v-model="organiser"
                required
              >
                <option selected="" disabled="" value="">Choose...</option>
                <option
                  v-for="organiser in organisers.data"
                  :key="organiser.id"
                  :value="organiser.id"
                >
                  {{ organiser.name }}
                </option>
              </CFormSelect>
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormSelect
                class="admin"
                aria-describedby="ageFeedback"
                feedbackInvalid="Please select a valid age."
                id="age"
                label="Age"
                :value="age"
                v-model="age"
                required
              >
                <option selected="" disabled="" value="">Choose...</option>
                <option v-for="age in age_levels" :value="age" :key="age">
                  {{ age }}
                </option>
              </CFormSelect>
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormLabel for="date">Duration</CFormLabel>
              <VueDatePicker v-model="date" range required> </VueDatePicker>
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormInput
                type="number"
                min="0"
                max="1000"
                step="0.01"
                feedbackInvalid="Please select a valid cost."
                label="Cost"
                id="cost"
                :value="cost"
                v-model="cost"
                class="admin"
                required
              />
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormLabel for="type">Type</CFormLabel>
              <div class="d-flex mt-1">
                <div style="margin-right: 20px">
                  <CFormCheck
                    feedbackInvalid="Please select a valid type."
                    type="radio"
                    name="type"
                    id="CAMP"
                    value="CAMP"
                    @change="onTypeChange($event)"
                    label="CAMP"
                    required
                    :checked="'CAMP' == type"
                  />
                </div>
                <CFormCheck
                  type="radio"
                  name="type"
                  id="EVENT"
                  value="EVENT"
                  @change="onTypeChange($event)"
                  label="EVENT"
                  :checked="'EVENT' == type"
                />
              </div>
            </CCol>
            <CCol md="12" class="position-relative">
              <CFormLabel for="description">Description</CFormLabel>
              <span id="description">
                <ckeditor
                  :editor="editor"
                  :value="description"
                  v-model="description"
                  required
                ></ckeditor>
              </span>
              <CFormFeedback
                class="invalid-feedback"
                id="desc-required-label"
                invalid
              >
                Please provide a valid description.
              </CFormFeedback>
            </CCol>
            <div class="d-grid gap-2 d-md-flex justify-content-md">
              <CButton color="success" type="submit">Save</CButton>
              <CButton color="dark" @click="this.$router.back()"
                >Cancel</CButton
              >
            </div>
          </CForm>
        </CCardBody>
      </CCard>
    </CCol>
    <CCol md="3">
      <CCard>
        <CCardBody>
          <CForm class="row g-3 needs-validation">
            <CCol
              md="12"
              class="d-flex justify-content-center align-items-center position-relative"
            >
              <CCardImage :src="this.baseUrl + cover" />
            </CCol>
            <CCol
              md="12"
              class="d-flex justify-content-center align-items-center position-relative"
            >
              <span class="btn btn-primary btn-file">
                Upload new Cover
                <CFormInput
                  type="file"
                  id="cover"
                  class="admin btn btn-primary"
                  @change="updateCover"
                  required
                />
              </span>
            </CCol>
          </CForm>
        </CCardBody>
      </CCard>
      <CCard class="mt-1">
        <CCardBody>
          <CCol v-for="interest in interests.data" :key="interest.id">
            <CFormCheck
              :id="interest.id"
              :label="interest.name"
              :checked="
                this.exist_activity_interest.some(
                  (obj) => obj.name === interest.name
                )
              "
              @click="handleCheckChange(interest, $event)"
            />
          </CCol>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>
<style>
#interest-required-label {
  display: none;
}
</style>
<script>
import INTERESTS from "@/graphql/queries/interest/Interests.gql";
import REGIONS from "@/graphql/queries/region/Regions.gql";
import ORGANIERS from "@/graphql/queries/organiser/Organisers.gql";
import ACTIVITY from "@/graphql/queries/activity/Activity.gql";
import UPDATE_ACTIVITY from "@/graphql/mutations/admin/activity/UpdateActivity.gql";
import UPDATE_ACTIVITY_COVER from "@/graphql/mutations/admin/activity/UpdateActivityCover.gql";
import ADD_INTEREST_TO_ACTIVITY from "@/graphql/mutations/admin/activity/AddInterestToActivity.gql";
import REMOVE_INTEREST_FROM_ACTIVITY from "@/graphql/mutations/admin/activity/RemoveInterestFromActivity.gql";
import { HalfCircleSpinner } from "epic-spinners";
import {
  failedToast,
  successToast,
  isEmpty,
  changeFormatDate,
} from "@/utilities/helper";
import { AGE_LEVELS, BaseUrl } from "@/utilities/constants";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
export default {
  name: "UpdateActivity",
  components: {
    HalfCircleSpinner,
  },
  apollo: {
    activity: {
      query: ACTIVITY,
      fetchPolicy: "cache-and-network",
      variables() {
        return { id: this.id };
      },
      result(ApolloQueryResult) {
        this.activity = ApolloQueryResult.data.activity.data;
        this.title = this.activity.title;
        this.address = this.activity.address;
        this.age = this.activity.age;
        this.description = this.activity.description;
        this.cost = this.activity.cost;
        this.cover = this.activity.cover;
        this.type = this.activity.type;
        this.region = this.activity.region.id;
        this.date = [this.activity.start_date, this.activity.end_date];
        this.organiser = this.activity.organiser.id;
        this.exist_activity_interest = this.activity.interests;
      },
    },
    regions: {
      query: REGIONS,
      fetchPolicy: "cache-and-network",
    },
    organisers: {
      query: ORGANIERS,
      fetchPolicy: "cache-and-network",
    },
    interests: {
      query: INTERESTS,
      fetchPolicy: "cache-and-network",
      // result(ApolloQueryResult) {
      //   let interestData = ApolloQueryResult.data.interests.data;
      //   for (let i = 0; i < interestData.length; i++) {
      //     this.activity_interest.push({
      //       text: interestData[i].name,
      //       id: interestData[i].id,
      //     });
      //   }
      // },
    },
  },
  data() {
    return {
      baseUrl: BaseUrl,
      activity: null,
      id: this.$route.params.id,
      exist_activity_interest: [],
      activity_interest: [],
      age_levels: AGE_LEVELS,
      validated: null,
      regions: null,
      organisers: null,
      interests: null,
      editor: ClassicEditor,
      title: null,
      type: null,
      cost: null,
      description: null,
      cover: null,
      region: null,
      age: null,
      date: [new Date(), new Date()],
      start_date: null,
      end_date: null,
      organiser: null,
      interest: [],
      file: null,
    };
  },
  methods: {
    handleCheckChange(interest, event) {
      if (event.target.checked) {
        this.$apollo
          .mutate({
            mutation: ADD_INTEREST_TO_ACTIVITY,
            variables: {
              id: this.id,
              interest_id: interest.id,
            },
          })
          .then((data) => {
            if (data.data["addInterestToActivity"].result) {
              successToast(data.data["addInterestToActivity"].message);
            } else {
              failedToast(data.data["addInterestToActivity"].message);
            }
          })
          .catch((error) => {
            failedToast(error.graphQLErrors[0].message);
          });
      } else {
        this.$apollo
          .mutate({
            mutation: REMOVE_INTEREST_FROM_ACTIVITY,
            variables: {
              id: this.id,
              interest_id: interest.id,
            },
          })
          .then((data) => {
            if (data.data["removeInterestfromActivity"].result) {
              successToast(data.data["removeInterestfromActivity"].message);
            } else {
              failedToast(data.data["removeInterestfromActivity"].message);
            }
          })
          .catch((error) => {
            failedToast(error.graphQLErrors[0].message);
          });
      }
    },
    onTypeChange(event) {
      this.type = event.target.value;
    },
    handleSubmit(event) {
      const form = event.currentTarget;
      if (!this.description) {
        document.getElementById("description").style.cssText =
          "border: 1px solid red; display:inherit ; border-radius: 5px;color:red";
        document.getElementById("desc-required-label").style.cssText =
          "display:block";
      }
      if (form.checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
      }
      this.validated = true;
      this.updateActivity();
    },
    updateCover(event) {
      this.file = event.target.files[0];
      this.$apollo
        .mutate({
          mutation: UPDATE_ACTIVITY_COVER,
          variables: {
            id: this.id,
            cover: this.file,
          },
        })
        .then((data) => {
          if (data.data["updateActivityCover"].result) {
            successToast(data.data["updateActivityCover"].message);
            this.$apollo.queries.activity.refetch();
          } else {
            failedToast(data.data["updateActivityCover"].message);
          }
        })
        .catch((error) => {
          failedToast(error.graphQLErrors[0].message);
        });
    },
    updateActivity() {
      this.start_date = changeFormatDate(this.date[0]);
      this.end_date = changeFormatDate(this.date[1]);
      if (
        !isEmpty(this.title) &&
        !isEmpty(this.type) &&
        !isEmpty(this.description) &&
        !isEmpty(this.region) &&
        !isEmpty(this.age) &&
        !isEmpty(this.start_date) &&
        !isEmpty(this.end_date) &&
        !isEmpty(this.organiser) &&
        !isEmpty(this.cost)
      ) {
        this.$apollo
          .mutate({
            mutation: UPDATE_ACTIVITY,
            variables: {
              id: this.id,
              title: this.title,
              type: this.type,
              cost: this.cost.toString(),
              description: this.description,
              region: this.region,
              age: this.age,
              start_date: this.start_date,
              end_date: this.end_date,
              organiser: this.organiser,
            },
          })
          .then((data) => {
            if (data.data["updateActivity"].result) {
              successToast(data.data["updateActivity"].message);
              this.$router.back();
            } else {
              failedToast(data.data["updateActivity"].message);
            }
          })
          .catch((error) => {
            failedToast(error.graphQLErrors[0].extensions.validation);
            // failedToast(error.graphQLErrors[0].extensions.validation.name[0]);
          });
      } else {
        failedToast("Please, fill all required field");
      }
    },
  },
};
</script>
