<template>
  <CRow>
    <CCol md="12">
      <CCard>
        <CCardBody>
          <CForm
            class="row g-3 needs-validation"
            @submit.prevent="createSlider"
          >
            <CCol md="6" class="position-relative">
              <CFormLabel for="title">Title</CFormLabel>
              <CFormInput id="title" v-model="title" class="admin" required />
              <CFormFeedback tooltip invalid>
                Please provide a valid Title.
              </CFormFeedback>
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormLabel for="logo">Image</CFormLabel>
              <CFormInput
                type="file"
                id="image"
                class="admin"
                @change="handleFileUpload"
                required
              />
              <CFormFeedback tooltip invalid>
                Please provide a valid Image.
              </CFormFeedback>
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormLabel for="desc">Description</CFormLabel>
              <ckeditor :editor="editor" v-model="desc" required></ckeditor>
              <CFormFeedback tooltip invalid>
                Please provide a valid description.
              </CFormFeedback>
            </CCol>
            <CCol v-if="image" md="6" class="position-relative">
              <CCardImage :src="imageSrc" />
            </CCol>
            <div class="d-grid gap-2 d-md-flex justify-content-md">
              <CButton color="success" type="submit">Save</CButton>
              <CButton color="dark" @click="this.$router.back()"
                >Cancel</CButton
              >
            </div>
          </CForm>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import CREATE_SLIDER from "@/graphql/mutations/admin/slider/CreateSlider.gql";
import { failedToast, successToast, isEmpty } from "@/utilities/helper";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
export default {
  name: "CreateSlider",
  data() {
    return {
      editor: ClassicEditor,
      title: null,
      image: null,
      desc: null,
      imageSrc: null,
    };
  },
  methods: {
    handleFileUpload(event) {
      this.image = event.target.files[0];
      this.displayImage(event.target.files[0]);
    },
    displayImage(file) {
      const reader = new FileReader();
      reader.onload = (e) => {
        this.imageSrc = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    createSlider() {
      if (!isEmpty(this.title) && !isEmpty(this.desc) && !isEmpty(this.image)) {
        this.$apollo
          .mutate({
            mutation: CREATE_SLIDER,
            variables: {
              title: this.title,
              image: this.image,
              desc: this.desc,
            },
          })
          .then((data) => {
            if (data.data["createSlider"].result) {
              successToast(data.data["createSlider"].message);
              this.$router.back();
            } else {
              failedToast(data.data["createSlider"].message);
            }
          })
          .catch((error) => {
            failedToast(error.graphQLErrors[0]);
          });
      } else {
        failedToast("Please, fill all required field");
      }
    },
  },
};
</script>
