<template>
  <half-circle-spinner
    v-if="$apollo.queries.slider.loading"
    disabled
    animation-duration="2000"
    size="20"
    color="#e43a06"
    class="spinner"
  />
  <CRow v-else>
    <CCol md="9">
      <CCard>
        <CCardBody>
          <CForm
            class="row g-3 needs-validation"
            @submit.prevent="updateSlider"
          >
            <CCol md="12" class="position-relative">
              <CFormLabel for="title">Title</CFormLabel>
              <CFormInput
                id="title"
                :value="title"
                v-model="title"
                class="admin"
                required
              />
              <CFormFeedback tooltip invalid>
                Please provide a valid title.
              </CFormFeedback>
            </CCol>
            <CCol md="12" class="position-relative">
              <CFormLabel for="desc">Description</CFormLabel>
              <ckeditor
                :editor="editor"
                :value="desc"
                v-model="desc"
                required
              ></ckeditor>
              <CFormFeedback tooltip invalid>
                Please provide a valid description.
              </CFormFeedback>
            </CCol>
            <div class="d-grid gap-2 d-md-flex justify-content-md">
              <CButton color="success" type="submit">Save</CButton>
              <CButton color="dark" @click="this.$router.back()"
                >Cancel</CButton
              >
            </div>
          </CForm>
        </CCardBody>
      </CCard>
    </CCol>
    <CCol md="3">
      <CCard>
        <CCardBody>
          <CForm class="row g-3 needs-validation">
            <CCol
              md="12"
              class="d-flex justify-content-center align-items-center position-relative"
            >
              <CCardImage :src="this.baseUrl + image" />
            </CCol>
            <CCol
              md="12"
              class="d-flex justify-content-center align-items-center position-relative"
            >
              <span class="btn btn-primary btn-file">
                Upload new Image
                <CFormInput
                  type="file"
                  id="image"
                  class="admin btn btn-primary"
                  @change="updateImage"
                  required
                />
              </span>
            </CCol>
          </CForm>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>
<style>
.ck-editor__editable {
  min-height: 300px;
}
</style>
<script>
import UPDATE_SLIDER from "@/graphql/mutations/admin/slider/UpdateSlider.gql";
import UPDATE_SLIDER_IMAGE from "@/graphql/mutations/admin/slider/UpdateSliderImage.gql";
import SLIDER from "@/graphql/queries/slider/Slider.gql";
import { failedToast, successToast, isEmpty } from "@/utilities/helper";
import { HalfCircleSpinner } from "epic-spinners";
import { BaseUrl } from "@/utilities/constants.js";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
export default {
  name: "UpdateSlider",
  components: {
    HalfCircleSpinner,
  },
  apollo: {
    slider: {
      query: SLIDER,
      variables() {
        return { id: this.id };
      },
      result(ApolloQueryResult) {
        this.data = ApolloQueryResult.data.slider.data;
        this.title = this.data.title;
        this.image = this.data.image;
        this.desc = this.data.desc;
      },
      fetchPolicy: "cache-and-network",
    },
  },
  data() {
    return {
      baseUrl: BaseUrl,
      editor: ClassicEditor,
      id: this.$route.params.id,
      slider: null,
      title: null,
      image: null,
      desc: null,
    };
  },
  methods: {
    updateImage(event) {
      this.file = event.target.files[0];
      this.$apollo
        .mutate({
          mutation: UPDATE_SLIDER_IMAGE,
          variables: {
            id: this.id,
            image: this.file,
          },
        })
        .then((data) => {
          if (data.data["updateSliderImage"].result) {
            successToast(data.data["updateSliderImage"].message);
            this.$apollo.queries.slider.refetch();
          } else {
            failedToast(data.data["updateSliderImage"].message);
          }
        })
        .catch((error) => {
          failedToast(error.graphQLErrors[0].message);
        });
    },
    updateSlider() {
      if (!isEmpty(this.title) && !isEmpty(this.desc)) {
        this.$apollo
          .mutate({
            mutation: UPDATE_SLIDER,
            variables: {
              id: this.id,
              title: this.title,
              desc: this.desc,
            },
          })
          .then((data) => {
            if (data.data["updateSlider"].result) {
              successToast(data.data["updateSlider"].message);
              this.$router.back();
            } else {
              failedToast(data.data["updateSlider"].message);
            }
          })
          .catch((error) => {
            failedToast(error.graphQLErrors[0].message);
          });
      } else {
        failedToast("Please, fill all required field");
      }
    },
  },
};
</script>
