<template>
  <half-circle-spinner
    v-if="$apollo.queries.sliders.loading"
    disabled
    animation-duration="2000"
    size="20"
    color="#e43a06"
    class="spinner"
  />
  <div v-else>
    <a class="btn btn-dark" href="/admin/slider/create">
      <CIcon icon="cil-plus" /> New
    </a>
    <CTable>
      <CTableHead>
        <CTableRow>
          <CTableHeaderCell scope="col">#</CTableHeaderCell>
          <CTableHeaderCell scope="col">Image</CTableHeaderCell>
          <CTableHeaderCell scope="col">Title</CTableHeaderCell>
          <CTableHeaderCell scope="col">Description</CTableHeaderCell>
          <CTableHeaderCell scope="col">Action</CTableHeaderCell>
        </CTableRow>
      </CTableHead>
      <CTableBody>
        <CTableRow v-for="(slider, index) in sliders.data" :key="index">
          <CTableHeaderCell scope="row">{{ slider.id }}</CTableHeaderCell>
          <CTableDataCell>
            <CImage width="100" fluid :src="this.baseUrl + slider.image" />
          </CTableDataCell>
          <CTableDataCell>
            {{ slider.title }}
          </CTableDataCell>
          <CTableDataCell v-html="slider.desc"></CTableDataCell>
          <CTableDataCell>
            <div class="d-grid gap-2 d-md-flex justify-content-md">
              <CButton
                color="success"
                @click="
                  () => {
                    visibleAddModal = true;
                    this.selectedSlider = slider;
                  }
                "
              >
                <i class="bi bi-eye"></i>
              </CButton>
              <a
                class="btn btn-primary"
                :href="'/admin/slider/edit/' + slider.id"
              >
                <i class="bi bi-pencil-square"></i>
              </a>
              <CButton color="danger" @click="deleteSlider(slider.id)">
                <CIcon icon="cil-trash" />
              </CButton>
            </div>
          </CTableDataCell>
        </CTableRow>
      </CTableBody>
    </CTable>
    <CPagination
      class="d-flex justify-content-center mt-3"
      v-if="sliders && sliders.data.length > 0"
      aria-label="Page navigation example"
      style="direction: rtl"
    >
      <CPaginationItem
        aria-label="Previous"
        v-if="
          sliders.current_page <= sliders.last_page && sliders.current_page != 1
        "
        :href="'/admin/slider?page=' + (sliders.current_page - 1)"
        ><span aria-hidden="true">&laquo;</span>
      </CPaginationItem>
      <CPaginationItem
        :href="'/admin/slider?page=' + sliders.current_page"
        active
        >{{ sliders.current_page }}
      </CPaginationItem>
      <CPaginationItem
        aria-label="Next"
        v-if="sliders.current_page + 1 <= sliders.last_page"
        :href="'/admin/slider?page=' + (sliders.current_page + 1)"
        ><span aria-hidden="true">&raquo;</span>
      </CPaginationItem>
    </CPagination>
    <CModal
      alignment="center"
      :visible="visibleAddModal"
      @close="visibleAddModal = false"
    >
      <CModalHeader>
        <CModalTitle>Slider Info</CModalTitle>
      </CModalHeader>
      <CModalBody>
        <CRow>
          <CCol md="12">
            <CImage fluid :src="this.baseUrl + this.selectedSlider.image" />
          </CCol>
        </CRow>
        <CRow>
          <CCol md="12">
            <p class="text-muted text-center mb-0">
              {{ this.selectedSlider.title }}
            </p>
          </CCol>
        </CRow>
        <CRow>
          <CCol md="12">
            <p class="text-muted mb-0">{{ this.selectedSlider.desc }}</p>
          </CCol>
        </CRow>
      </CModalBody>
      <CModalFooter>
        <CButton
          color="secondary"
          @click="
            () => {
              visibleAddModal = false;
            }
          "
          >Close</CButton
        >
      </CModalFooter>
    </CModal>
  </div>
</template>

<script>
import SLIDERS from "@/graphql/queries/slider/Sliders.gql";
import DELETE_SLIDER from "@/graphql/mutations/admin/slider/DeleteSlider.gql";
import { failedToast, successToast } from "@/utilities/helper";
import { BaseUrl } from "@/utilities/constants.js";
import { HalfCircleSpinner } from "epic-spinners";
export default {
  name: "SliderView",
  components: {
    HalfCircleSpinner,
  },
  apollo: {
    sliders: {
      query: SLIDERS,
      fetchPolicy: "cache-and-network",
      variables() {
        return {
          page: this.$route.query.page ? parseInt(this.$route.query.page) : 1,
        };
      },
    },
  },
  data() {
    return {
      sliders: null,
      id: null,
      baseUrl: BaseUrl,
      selectedSlider: null,
      visibleAddModal: false,
    };
  },
  methods: {
    deleteSlider(id) {
      this.$apollo
        .mutate({
          mutation: DELETE_SLIDER,
          variables: {
            id: id,
          },
        })
        .then((data) => {
          if (data.data["deleteSlider"].result) {
            successToast(data.data["deleteSlider"].message);
            this.$apollo.queries.sliders.refetch();
            if (this.sliders.data.length == 1) {
              this.$router.replace({
                query: { page: this.$route.query.page - 1 },
              });
            }
          } else {
            failedToast(data.data["deleteSlider"].message);
          }
        })
        .catch((error) => {
          failedToast(error.graphQLErrors[0].message);
        });
    },
  },
};
</script>
