<template>
  <button
    v-if="age == null"
    class="btn dropdown-filter w-100"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    id="age"
    :style="style"
  >
    <span>Age</span>
  </button>
  <button
    v-else
    class="btn dropdown-filter filtering"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    id="age"
    :style="style"
  >
    <span class="d-flex"
      >{{ age }}<i class="bi bi-x" @click="removeFilter"></i
    ></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="age">
    <li
      v-for="(item, index) in age_levels"
      :key="index"
      v-on:click="getAge(item)"
    >
      <p>{{ item }}</p>
    </li>
  </ul>
</template>
<script>
import { AGE_LEVELS } from "@/utilities/constants";
export default {
  name: "AgeFilter",
  props: ["width"],
  computed: {
    style() {
      return "width: " + this.width;
    },
  },
  data() {
    return {
      age_levels: AGE_LEVELS,
      age: this.$store.state.age,
    };
  },
  methods: {
    getAge(selectedAge) {
      this.age = selectedAge;
      this.$store.commit("updateAgeFilter", {
        age: this.age,
      });
      this.$emit("addFilter", { column: "age", value: this.age });
    },
    removeFilter() {
      this.age = null;
      this.$store.commit("updateAgeFilter", {
        age: null,
      });
      this.$emit("removeAgeFilter", { column: "age" });
    },
  },
};
</script>
