<template>
  <div class="date-picker w-100">
    <input
      type="date"
      id="start_date"
      name="start_date"
      v-model="date"
      @input="getDate(date)"
    />
  </div>
</template>
<script>
export default {
  name: "DateFilter",
  data() {
    return {
      date: null,
    };
  },
  methods: {
    getDate(selectedDate) {
      this.$emit("addFilter", {
        column: "start_date",
        value: selectedDate,
      });
    },
  },
};
</script>
