<template>
  <Select2
    class="btn dropdown-filter w-100"
    v-model="interest"
    :options="selectedInterest"
    :settings="this.remoteInterests"
  />
</template>
<script>
import Select2 from "vue3-select2-component";
import { getRemoteData } from "@/utilities/helper";
export default {
  name: "InterestFilter",
  components: {
    Select2,
  },
  props: ["width"],
  computed: {
    style() {
      return "width: " + this.width;
    },
  },
  created() {
    this.remoteInterests = getRemoteData(
      false,
      function (param) {
        var data = JSON.stringify({
          query: `query interests($page: Int) {
            interests(page: $page) {
                    result
                    message
                    data {
                      id
                      name
                      }
                      current_page
                      last_page
                      }
                      }`,
          variables: {
            page: param.page || 1,
          },
        });
        return data;
      },
      function (data) {
        let map = [];
        for (let i = 0; i < data.data.interests.data.length; i++) {
          map.push({
            text: data.data.interests.data[i]["name"],
            id: data.data.interests.data[i]["name"],
          });
        }
        return {
          results: map,
          pagination: {
            more:
              data.data.interests.current_page < data.data.interests.last_page,
          },
        };
      },
      "interest"
    );
  },
  data() {
    return {
      selectedInterest: this.$store.state.selectedInterest,
      remoteInterests: {},
      activity_interest: [],
      interest: this.$store.state.interest,
    };
  },
  watch: {
    interest: function () {
      if (this.interest) {
        this.$store.commit("updateInterestFilter", {
          interest: this.interest,
        });
        this.$store.commit("updateselectedInterest", {
          selectedInterest: [
            {
              text: this.interest,
              id: this.interest,
            },
          ],
        });
        this.$emit("addFilter", {
          column: "interest",
          value: this.interest,
        });
      } else {
        this.interest = null;
        this.$store.commit("updateInterestFilter", {
          interest: null,
        });
        this.$store.commit("updateselectedInterest", {
          selectedInterest: [],
        });
        this.$emit("removeInterestFilter", { column: "interest" });
      }
    },
  },
};
</script>
