<template>
  <button
    v-if="month == null"
    class="btn dropdown-filter w-100"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    id="month"
  >
    <span>Month</span>
  </button>
  <button
    v-else
    class="btn dropdown-filter filtering"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    id="month"
  >
    <span class="d-flex"
      >{{ months[month] }}<i class="bi bi-x" @click="removeFilter"></i
    ></span>
  </button>
  <ul class="dropdown-menu menu-month" aria-labelledby="month">
    <div class="row text-center">
      <div
        class="col-4 item"
        v-for="(item, index) in months"
        :key="index"
        v-on:click="getMonth(index)"
      >
        <p>{{ item }}</p>
      </div>
    </div>
  </ul>
</template>
<script>
import { MONTHS } from "@/utilities/constants";
export default {
  name: "MonthFilter",
  data() {
    return {
      months: MONTHS,
      month: null,
    };
  },
  methods: {
    getMonth(selectedMonth) {
      this.month = selectedMonth;
      this.$emit("addFilter", {
        column: "month",
        value: this.month,
      });
    },
    removeFilter() {
      this.month = null;
      this.$emit("removeMonthFilter", { column: "month" });
    },
  },
};
</script>
