<template>
  <Select2
    class="btn dropdown-filter w-100"
    v-model="organiser"
    :options="selectedOrganiser"
    :settings="this.remoteOrganisers"
  />
</template>
<script>
import Select2 from "vue3-select2-component";
import { getRemoteData } from "@/utilities/helper";
export default {
  name: "OrganiserFilter",
  components: {
    Select2,
  },
  props: ["width"],
  computed: {
    style() {
      return "width: " + this.width;
    },
  },
  created() {
    this.remoteOrganisers = getRemoteData(
      false,
      function (param) {
        var data = JSON.stringify({
          query: `query organisers($page: Int) {
            organisers(page: $page) {
                    result
                    message
                    data {
                      id
                      name
                      }
                      current_page
                      last_page
                      }
                      }`,
          variables: {
            page: param.page || 1,
          },
        });
        return data;
      },
      function (data) {
        let map = [];
        for (let i = 0; i < data.data.organisers.data.length; i++) {
          map.push({
            text: data.data.organisers.data[i]["name"],
            id: data.data.organisers.data[i]["name"],
          });
        }
        return {
          results: map,
          pagination: {
            more:
              data.data.organisers.current_page <
              data.data.organisers.last_page,
          },
        };
      },
      "organiser"
    );
  },
  data() {
    return {
      organiser: null,
      selectedOrganiser: this.$store.state.selectedOrganiser,
    };
  },
  watch: {
    organiser: function () {
      if (this.organiser) {
        this.$store.commit("updateOrganiserFilter", {
          organiser: this.organiser,
        });
        this.$store.commit("updateselectedOrganiser", {
          selectedOrganiser: [
            {
              text: this.organiser,
              id: this.organiser,
            },
          ],
        });
        this.$emit("addFilter", {
          column: "organiser_id",
          value: this.organiser,
        });
      } else {
        this.organiser = null;
        this.$store.commit("updateOrganiserFilter", {
          organiser: null,
        });
        this.$store.commit("updateselectedOrganiser", {
          selectedOrganiser: [],
        });
        this.$emit("removeOrganiserFilter", { column: "organiser_id" });
      }
    },
  },
};
</script>
