<template>
  <Select2
    class="btn dropdown-filter w-100"
    v-model="region"
    :options="selectedRegion"
    :settings="this.remoteRegions"
  />
</template>
<script>
import Select2 from "vue3-select2-component";
import { getRemoteData } from "@/utilities/helper";
export default {
  name: "RegionFilter",
  components: {
    Select2,
  },
  props: ["width"],
  computed: {
    style() {
      return "width: " + this.width;
    },
  },
  created() {
    this.remoteRegions = getRemoteData(
      false,
      function (param) {
        var data = JSON.stringify({
          query: `query regions($page: Int) {
            regions(page: $page) {
                    result
                    message
                    data {
                      id
                      name
                      }
                      current_page
                      last_page
                      }
                      }`,
          variables: {
            page: param.page || 1,
          },
        });
        return data;
      },
      function (data) {
        let map = [];
        for (let i = 0; i < data.data.regions.data.length; i++) {
          map.push({
            text: data.data.regions.data[i]["name"],
            id: data.data.regions.data[i]["name"],
          });
        }
        return {
          results: map,
          pagination: {
            more: data.data.regions.current_page < data.data.regions.last_page,
          },
        };
      },
      "region"
    );
  },
  data() {
    return {
      selectedRegion: this.$store.state.selectedRegion,
      region: this.$store.state.region,
    };
  },
  watch: {
    region: function () {
      if (this.region) {
        this.$store.commit("updateRegionFilter", {
          region: this.region,
        });
        this.$store.commit("updateselectedRegion", {
          selectedRegion: [
            {
              text: this.region,
              id: this.region,
            },
          ],
        });
        this.$emit("addFilter", {
          column: "region_id",
          value: this.region,
        });
      } else {
        this.region = null;
        this.$store.commit("updateRegionFilter", {
          region: null,
        });
        this.$store.commit("updateselectedRegion", {
          selectedRegion: [],
        });
        this.$emit("removeRegionFilter", { column: "region_id" });
      }
    },
  },
};
</script>
