<template>
  <div class="container">
    <footer>
      <div class="row my-5">
        <div class="col-lg-5 col-sm-12 mb-3">
          <a class="footer-logo d-flex justify-content-center mb-3" href="#"
            ><img
              src="@/assets/imgs/adventurers-website-favicon-color.png"
              alt=""
              style="height: 100px"
          /></a>
          <div class="social d-flex justify-content-center">
            <a :href="social.facebook" class="mx-2"
              ><i class="bi bi-facebook"></i
            ></a>
            <a :href="social.instagram" class="mx-2"
              ><i class="bi bi-instagram"></i
            ></a>
            <a :href="social.twitter" class="mx-2"
              ><i class="bi bi-twitter"></i
            ></a>
            <a :href="social.tiktok" class="mx-2"
              ><i class="bi bi-tiktok"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-7 col-sm-12 mb-2">
          <form @submit.prevent="subscribe">
            <h3>Subscribe to our newsletter</h3>
            <p>
              Want to be the first to read our news? Subscribe to the newsletter
              to keep abreast of all events.
            </p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden"
                >Email address</label
              >
              <input
                id="newsletter"
                type="text"
                class="form-control"
                v-model="email"
                placeholder="Enter a valid email address"
              />
              <button class="btn main-btn" type="submit">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
      <div
        class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"
      >
        <p>&copy; 2023 Company, Inc. All rights reserved.</p>
        <div class="d-flex justify-content-around">
          <a :href="'/terms-condtions'">
            <p style="margin-right: 20px">Term & conditions</p>
          </a>
          <a :href="'/privacy-policy'">
            <p>Privacy Policy</p>
          </a>
        </div>
      </div>
    </footer>
  </div>
</template>
<script>
import CREATE_SUBSCRIPTION from "@/graphql/mutations/user/subscription/CreateSubscription.gql";
import { failedToast, successToast, isEmpty } from "@/utilities/helper";
export default {
  name: "AppFooter",
  components: {},
  props: {
    social: {},
  },
  data() {
    return {
      email: null,
    };
  },
  methods: {
    subscribe() {
      if (!isEmpty(this.email)) {
        this.$apollo
          .mutate({
            mutation: CREATE_SUBSCRIPTION,
            variables: {
              email: this.email,
            },
          })
          .then((data) => {
            if (data.data["createSubscription"].result) {
              successToast(data.data["createSubscription"].message);
              this.email = null;
            } else {
              failedToast(data.data["createSubscription"].message);
            }
          })
          .catch((error) => {
            failedToast(error.graphQLErrors[0].extensions.validation.email[0]);
          });
      } else {
        failedToast("Please, fill all required field");
      }
    },
  },
};
</script>
