<template>
  <div class="gallery">
    <div class="mt-5">
      <div class="text-center mb-4">
        <h2><span>Explore</span> Our Gallery</h2>
      </div>
      <half-circle-spinner
        v-if="$apollo.queries.sliders.loading"
        disabled
        animation-duration="2000"
        size="20"
        color="#e43a06"
        class="spinner"
      />
      <carousel :settings="settings" :breakpoints="breakpoints" v-else>
        <slide v-for="slider in sliders.data" :key="slider">
          <div class="container-img-gallery">
            <img
              :src="this.baseUrl + slider.image"
              :alt="slider.title"
              class="carousel-img"
            />
            <div class="gallery_overlay">
              <div class="gallery_overlay_text">
                <h3>{{ slider.title }}</h3>
                <p v-html="slider.desc"></p>
              </div>
            </div>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</template>
<script>
import SLIDERS from "@/graphql/queries/slider/Sliders.gql";
import { HalfCircleSpinner } from "epic-spinners";
import { BaseUrl } from "@/utilities/constants.js";
import "vue3-carousel/dist/carousel.css";
import { Carousel, Slide } from "vue3-carousel";
export default {
  name: "AppGallery",
  components: {
    Carousel,
    Slide,
    HalfCircleSpinner,
  },
  apollo: {
    sliders: {
      query: SLIDERS,
      fetchPolicy: "cache-and-network",
    },
  },
  data() {
    return {
      baseUrl: BaseUrl,
      settings: {
        itemsToShow: 1,
        snapAlign: "center",
      },
      breakpoints: {
        700: {
          itemsToShow: 2,
          snapAlign: "center",
        },
        1024: {
          itemsToShow: 3,
          snapAlign: "start",
        },
      },
    };
  },
};
</script>
