<template>
  <header class="header-user" :style="style">
    <div class="container">
      <nav
        class="navbar navbar-expand-lg navbar-dark bg-transparent pt-1 fw-bold"
        aria-label="Offcanvas navbar large"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="#"
            ><img src="@/assets/imgs/logo.png" alt="" style="height: 100px"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar2"
            aria-controls="offcanvasNavbar2"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasNavbar2"
            aria-labelledby="offcanvasNavbar2Label"
          >
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbar2Label">
                Adventures
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/organisers">Organisers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/activities/type">activities</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" :href="'/activities/type/' + 'camp'"
                    >Camps</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" :href="'/activities/type/' + 'event'"
                    >Events</a
                  >
                </li>
                <li class="nav-item">
                  <div v-if="isLoggedIn">
                    <div class="dropdown nav-link" style="margin-top: -6px">
                      <button
                        type="button"
                        class="btn dropdown-toggle account-dropdown"
                        data-bs-toggle="dropdown"
                      >
                        <i class="bi bi-person-circle"></i> Account
                      </button>
                      <ul class="dropdown-menu account-dropdown-menu">
                        <li>
                          <a class="dropdown-item" href="#">{{
                            this.userName
                          }}</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Edit profile</a>
                        </li>
                        <li>
                          <a class="dropdown-item" type="button" @click="logout"
                            >Logout</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <a v-else type="button" class="nav-link" :href="'/login'">
                    Login
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
</template>
<style>
.form-control {
  color: #6c757d;
}
</style>
<script>
export default {
  name: "AppHeader",
  props: ["bcolor", "position"],
  data() {
    return {
      userName: localStorage.getItem("NAME")
        ? localStorage.getItem("NAME")
        : null,
      isLoggedIn: localStorage.getItem("isLoggedIn") ?? false,
    };
  },
  computed: {
    style() {
      return "background-color: " + this.bcolor + ";position: " + this.position;
    },
  },
  methods: {
    logout() {
      localStorage.clear();
      this.isLoggedIn = false;
    },
  },
};
</script>
