<template>
  <div class="services">
    <div class="container my-5">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="card-activity text-center p-2">
            <img src="@/assets/imgs/hiking.png" alt="" class="carousel-img" />
            <h4>Events</h4>
            <p>Lorem ipsum blanditiis et, vxpedita iure adipisci.</p>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="card-activity text-center p-2">
            <img src="@/assets/imgs/tent.png" alt="" class="carousel-img" />
            <h4>Camping</h4>
            <p>numquam impedit dolores esse, in non expedita iure.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "AppServices",
};
</script>
