<template>
  <div class="places">
    <div class="container my-5">
      <div class="row">
        <div class="col-lg-7 col-sm-12 left-side">
          <div class="places-text mb-4">
            <h2><span>1o</span> Amazing Places To tours</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              libero incidunt adipisci ex error hic doloremque! Blanditiis
              expedita facilis cupiditate omnis, eius consequuntur vitae,
              deserunt ducimus non aliquid suscipit tenetur?
            </p>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-6 mb-3">
              <div class="container-place-img">
                <img
                  src="@/assets/imgs/places/benjamin-davies-mqN-EV9rNlY-unsplash.jpg"
                  alt=""
                />
                <p class="overlay-text">Italy</p>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-3">
              <div class="container-place-img">
                <img
                  src="@/assets/imgs/places/clarisse-meyer-FQ96bh4O1tY-unsplash.jpg"
                  alt=""
                />
                <p class="overlay-text">niagara falls</p>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-3">
              <div class="container-place-img">
                <img
                  src="@/assets/imgs/places/daniel-jensen-tQpypKA92k8-unsplash.jpg"
                  alt=""
                />
                <p class="overlay-text">Italy</p>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-3">
              <div class="container-place-img">
                <img
                  src="@/assets/imgs/places/felipe-giacometti-W5XmCGt66ac-unsplash.jpg"
                  alt=""
                />
                <p class="overlay-text">canada</p>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-3">
              <div class="container-place-img">
                <img
                  src="@/assets/imgs/places/sebastien-goldberg-BKLHxgbYFDI-unsplash.jpg"
                  alt=""
                />
                <p class="overlay-text">switzerland</p>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-3">
              <div class="container-place-img">
                <img
                  src="@/assets/imgs/places/didin-emelu-8--kuxbxuKU-unsplash.jpg"
                  alt=""
                />
                <p class="overlay-text">singapore</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-sm-12 right-side">
          <img
            src="@/assets/imgs/places/fabio-comparelli-uq2E2V4LhCY-unsplash.jpg"
            alt=""
            class="carousel-img"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "BestPlaces",
};
</script>
