<template>
  <div class="contact">
    <div class="container py-4">
      <div class="row">
        <div class="col-lg-6 col-sm-12 mb-4">
          <h2>Contact<span> US</span></h2>
          <div class="contact-text mb-4 pt-4">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              libero incidunt adipisci ex error hic doloremque! Blanditiis
              expedita facilis cupiditate omnis, eius consequuntur vitae,
              deserunt ducimus non aliquid suscipit tenetur?
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <form @submit.prevent="createOrganiser">
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    v-model="name"
                    placeholder="Name"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    v-model="email"
                    placeholder="Email address"
                  />
                </div>
              </div>
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="subject"
                v-model="subject"
                placeholder="Subject"
              />
            </div>
            <div class="mb-3">
              <textarea
                class="form-control"
                id="message"
                v-model="message"
                rows="3"
                placeholder="Message"
              ></textarea>
            </div>
            <button type="submit" class="btn seconday-btn">Contact US</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CREATE_SUPPORT_MESSAGE from "@/graphql/mutations/user/support/CreateSupportMessage.gql";
import { failedToast, successToast, isEmpty } from "@/utilities/helper";
export default {
  name: "ContactUs",
  data() {
    return {
      name: null,
      email: null,
      subject: null,
      message: null,
    };
  },
  methods: {
    createOrganiser() {
      if (
        !isEmpty(this.name) &&
        !isEmpty(this.email) &&
        !isEmpty(this.subject) &&
        !isEmpty(this.message)
      ) {
        this.$apollo
          .mutate({
            mutation: CREATE_SUPPORT_MESSAGE,
            variables: {
              name: this.name,
              email: this.email,
              subject: this.subject,
              message: this.message,
            },
          })
          .then((data) => {
            if (data.data["cerateSupportMessage"].result) {
              successToast(data.data["cerateSupportMessage"].message);
              this.name = null;
              this.email = null;
              this.subject = null;
              this.message = null;
            } else {
              failedToast(data.data["cerateSupportMessage"].message);
            }
          })
          .catch((error) => {
            failedToast(error.graphQLErrors[0].extensions.validation.name[0]);
          });
      } else {
        failedToast("Please, fill all required field");
      }
    },
  },
};
</script>
