<template>
  <div class="gallery">
    <div class="mt-5">
      <section class="py-3 py-md-5 py-xl-8">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
              <h3 class="fs-6 text-secondary mb-2 text-uppercase text-center">
                Our Clients
              </h3>
              <h2 class="mb-4 display-5 text-center">
                Trusted by over <span>786+</span> clients.
              </h2>
              <p class="fs-5 text-secondary mb-5 text-center">
                Our clients are our top priority, and we are committed to
                providing them with the highest level of service.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
export default {
  name: "PartnersComponent",
};
</script>
