:root {
  --main-color: #97c3c6;
  --secondary-color: #ba815e;
  --orange: #e43a06;
}
.pagination .page-item {
  margin-right: 5px;
}
.pagination .page-link {
  border-radius: 8px !important;
  padding-inline: 13px;
}
.pagination .page-item.active .page-link {
  border: none;
  color: #fff;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}
.btn-ring:after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: ring 1.2s linear infinite;
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
