<template>
  <CIcon icon="cil-account-logout" @click="logout" />
</template>
<script>
export default {
  name: "AppHeaderDropdownAccnt",
  methods: {
    logout() {
      localStorage.removeItem("TOKEN");
      localStorage.removeItem("EMAIL");
      this.$router.push("login");
    },
  },
};
</script>
