@import url("main.css");

.spinner {
  margin: 0 auto;
}
.header-user {
  position: absolute;
  z-index: 1000px;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  background: #f0f8ff00;
  border: none;
}
.banner-container {
  background-image: url("@/assets/imgs/banner.jpg");
  height: 600px;
  background-size: cover;
  background-position: center;
}
.text-banner {
  padding-top: 15%;
  text-align: center;
}
.text-banner h1 {
  color: #fff;
  font-family: "Courgette", cursive;
  font-weight: 700;
}
.text-banner p {
  color: var(--secondary-color);
  margin-bottom: 0px;
}
.search-banner {
  background-color: #ffffff47;
  padding: 22px;
  border-radius: 15px;
}
.offcanvas-title {
  color: var(--secondary-color);
}
.search-banner .select-banner .form-select {
  color: var(--secondary-color);
}
.search-banner .search-btn {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}
.search-banner .bi-search {
  font-size: 25px;
}
.carousel-img {
  width: 60px;
}
.services .card-activity:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  transition: all 0.2s;
}
.services .card-activity h4 {
  color: var(--main-color);
}
.places .left-side .container-place-img {
  height: 250px;
  position: relative;
  overflow: hidden;
}
.places .left-side img {
  width: 100%;
}
.places .right-side img {
  width: 100%;
}
footer h3,
.gallery h2,
.contact h2,
.places h2 {
  font-family: "Courgette", cursive;
  font-weight: 700;
}
.gallery span,
.contact span,
.places span {
  color: var(--orange);
}
.places .left-side .container-place-img:hover img {
  transform: scale(1.05);
  transition: transform 0.2s;
}
.places .overlay-text {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  color: white;
  font-weight: 700;
  text-align: center;
}
.gallery .container-img-gallery {
  width: 100%;
  position: relative;
  margin-inline: 1px;
}
.gallery .carousel-img {
  width: 100%;
  height: 500px;
}
.gallery .gallery_overlay {
  align-content: center;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  top: 0;
  color: white;
  font-weight: 700;
  text-align: center;
  background-color: #0000006e;
}
.gallery .gallery_overlay_text {
  position: absolute;
  bottom: 0;
}
.gallery .gallery_overlay h3 {
  margin-block: 20px;
  margin-inline: 40px;
}
.gallery .gallery_overlay p {
  margin-inline: 40px;
}
footer .form-control {
  color: var(--secondary-color) !important;
}
.main-btn {
  border-radius: 20px;
  padding-inline: 24px;
  padding-block: 6px;
  background: var(--main-color);
  font-weight: 500;
  color: #fff;
}
.seconday-btn {
  border-radius: 20px;
  padding-inline: 24px;
  padding-block: 6px;
  background: none;
  border: 1px solid #fff;
  font-weight: 500;
  color: #fff;
}
.main-btn:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
.seconday-btn:hover {
  color: #fff;
  background: none;
  border: 1px solid var(--main-color);
}
.social i {
  border: 2px solid var(--main-color);
  border-radius: 23px;
  padding: 5px;
  padding-inline: 9px;
  font-size: 20px;
  color: var(--main-color);
}
.social i:hover {
  color: var(--secondary-color);
}
.offcanvas-body .nav-link {
  color: #fff;
}
.offcanvas-body .account-dropdown {
  color: white;
  border: none;
}
.offcanvas-body .dropdown-menu .account-dropdown-menu .dropdown-item {
  text-decoration: none;
  margin-left: 9px;
}
.offcanvas-body .dropdown-menu.account-dropdown-menu .dropdown-item:hover {
  background-color: var(--main-color);
  color: #fff;
}
footer a {
  text-decoration: none;
  color: #000;
}
footer a:hover {
  color: var(--main-color);
}
.contact {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("@/assets/imgs/holly.jpg");
  background-attachment: fixed;
  color: #fff;
}
.account .form-control {
  color: #000 !important;
}
.form-control {
  background-color: #ffffff1a;
  color: white !important;
}
.form-select.admin,
.form-control.admin {
  color: #000 !important;
}
.form-control:focus {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  box-shadow: none;
  border-color: var(--main-color);
}
.contact input::placeholder,
.contact textarea::placeholder {
  color: #fff;
}
.organisers .card .link,
.activities .card .link {
  all: unset;
}
.organisers .card .link {
  color: var(--orange);
}
.organisers .card-title,
.activities .card-title {
  color: rgba(33, 37, 41, 0.75);
  font-size: 24px;
  font-weight: 600;
}
.activities .card-title {
  font-weight: 800;
}
.organisers .card-link,
.camp .card-link,
.activities .card-link {
  background-color: var(--main-color);
  color: #fff;
  font-weight: 600;
}
.organisers .card-text {
  color: #6c757d;
}
.organisers img {
  width: 250px;
}
.activities .interest span {
  background-color: #80808042;
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 36px;
  margin-bottom: 5px;
  margin-right: 4px;
}
.activities .card-img-top {
  height: 250px;
}
.filter-interest {
  padding-block: 20px;
}
.filter-interest .dropdown-filter {
  background-color: #f1f1f1db;
  padding-inline: 34px;
  padding-block: 9px;
  border-radius: 36px;
  margin-bottom: 5px;
  margin-right: 10px;
  border: none;
  font-weight: 600;
  color: #fff;
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 12px;
}
.filter-interest .dropdown-menu {
  margin-inline: 45px !important;
  margin-top: -10px !important;
  max-height: 200px;
  overflow-y: auto;
}
.filter-interest .dropdown-menu li p {
  margin-left: 10px;
}
.filter-interest .dropdown-menu li:hover {
  background-color: var(--main-color);
  color: #fff;
}
.filter-interest .dropdown-menu::-webkit-scrollbar {
  width: 7px;
}
.filter-interest .dropdown-menu::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}
.pagination .page-activity.active a,
.pagination .page-activity.active a {
  background-color: var(--main-color);
  border: none;
  color: #fff;
}

.pagination .page-activity a,
.pagination .page-activity a {
  border-radius: 52px;
  padding-inline: 13px;
  margin-inline: 2px;
  color: var(--main-color);
}
.date-picker {
  display: inline-block;
  background-color: #80808075;
  padding-inline: 34px;
  padding-block: 3px;
  border-radius: 36px;
  margin-bottom: 5px;
  margin-right: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.date-picker input {
  margin-block: 4px;
  border: none;
  background: none;
  color: #999;
  font-weight: 600;
}
.date-picker {
  display: inline-block;
  background-color: #8080803b;
  padding-inline: 34px;
  padding-block: 3px;
  border-radius: 36px;
  margin-bottom: 5px;
  margin-right: 10px;
  border: none;
}

/* .date-picker .dp__input_readonly {
  width: 150px;
}
.date-picker .dp__input_icons {
  width: 22px;
  height: 22px;
}
.date-picker .dp__date_hover:hover {
  background: #97c3c680;
  border-radius: 25px;
}
.date-picker .dp__active_date {
  background: var(--main-color);
  border-radius: 25px;
}
.date-picker .dp__today {
  border-color: var(--main-color);
  border-radius: 25px;
} */
.filter-interest .menu-month {
  width: 250px;
  padding: 10px;
  overflow-y: unset;
}
.filter-interest .menu-month .item:hover p {
  background: #97c3c680;
  border-radius: 25px;
}
.filter-interest .bi-x-lg {
  margin-left: 25px;
  color: #858b8b;
  pointer-events: all;
}
.camp .camp-img {
  height: 300px;
  width: 100%;
}
.camp h2 {
  color: var(--orange);
}
.camp .head-desc {
  color: var(--main-color);
  font-size: 22px;
}
.camp .date-time .date {
  padding-right: 100px;
}
.card-subtitle span {
  color: var(--orange);
  font-weight: 700;
}
.camp .organiser {
  color: var(--orange);
  font-weight: 700;
}

.camp .map-container {
  overflow: hidden;
  position: relative;
  height: 400px;
}
.camp .map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.no-data {
  text-align: center;
  color: darkgrey;
  font-size: 25px;
  font-weight: 600;
}
.filtering {
  color: var(--orange) !important;
}
.filtering .bi-x-lg {
  color: #fff;
}
.organiser .organiser-img {
  height: 250px;
}
.organiser .organiser-name {
  color: var(--secondary-color);
}
.organiser .contact-us h5 {
  color: var(--secondary-color);
}
.organiser .links a {
  all: unset;
  color: #6c757d;
}
.organiser .links i {
  color: var(--main-color);
  margin-right: 10px;
  font-size: 20px;
}
.activities .carousel button {
  background-color: var(--orange);
  color: #fff;
  border-radius: 50px;
  position: absolute;
  top: 135px;
}
.activities .carousel .carousel__prev {
  left: -45px;
}
.activities .carousel .carousel__next {
  right: -45px;
}
#modalRegisterForm .form-control,
#modalLoginForm .form-control {
  border: none;
  border-bottom: 1px solid #00000033;
  border-radius: 0px;
}
#modalRegisterForm i,
#modalLoginForm i {
  margin-right: 10px;
  font-size: 28px;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: var(--main-color) !important;
}
.select2-selection {
  border: none !important;
  background: none !important;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: var(--orange) !important;
  line-height: 28px !important;
  font-weight: bold !important;
}
.select2-container--default .select2-results > .select2-results__options {
  margin-bottom: 10px !important;
}
.select2-search--dropdown .select2-search__field {
  display: none !important;
}
.select2-container--open .select2-dropdown--below {
  border-radius: 10px !important;
  margin-left: -22px;
  width: 150px !important;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  display: none;
}
.btn.dropdown-filter:focus {
  color: #999;
}
.btn.dropdown-filter span {
  color: #999;
}
#interest-select > div {
  border: 1px solid #dfe3e6;
  border-radius: 6px;
}

@media (min-width: 577px) {
  .places .left-side img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 991px) {
  .filter-interest .filters {
    display: flex;
    flex-wrap: wrap;
  }
  .filter-interest .filters-offcanvas {
    display: none;
  }
}
@media (max-width: 992px) {
  .offcanvas-body .nav-link {
    color: var(--main-color);
  }
  footer h3,
  footer p {
    text-align: center;
  }
  .filter-interest .filters {
    display: none;
  }
  .filter-interest .filters-offcanvas {
    display: block;
  }
}
@media (max-width: 576px) {
  .text-banner {
    padding-top: 40%;
  }
}
.page-title {
  background-image: linear-gradient(to bottom, #97c3c6, #fff);
  color: #7c7c7c;
}
