<template>
  <half-circle-spinner
    v-if="$apollo.queries.interests.loading"
    disabled
    animation-duration="2000"
    size="20"
    color="#e43a06"
    class="spinner"
  />
  <div v-else>
    <CButton
      color="dark"
      class="mb-3"
      @click="
        () => {
          visibleAddModal = true;
        }
      "
    >
      <CIcon icon="cil-plus" /> New
    </CButton>
    <CTable>
      <CTableHead>
        <CTableRow>
          <CTableHeaderCell scope="col">#</CTableHeaderCell>
          <CTableHeaderCell scope="col">Name</CTableHeaderCell>
          <CTableHeaderCell scope="col">Action</CTableHeaderCell>
        </CTableRow>
      </CTableHead>
      <CTableBody>
        <CTableRow v-for="(interest, index) in interests.data" :key="index">
          <CTableHeaderCell scope="row">{{ interest.id }}</CTableHeaderCell>
          <CTableDataCell>
            <h6 v-show="editOffset != index" class="list-group-item-heading">
              {{ interest.name }}
            </h6>
            <input
              v-show="editOffset == index"
              type="text"
              :id="'interest-' + index"
              @keydown.enter="updateInterest(interest.id)"
              class="form-control admin"
              :placeholder="interest.name"
              v-model="name"
            />
          </CTableDataCell>
          <CTableDataCell>
            <div class="d-grid gap-2 d-md-flex justify-content-md">
              <a
                href="#"
                class="btn btn-md btn-primary"
                @click="startEditing(index)"
              >
                <i class="bi bi-pencil-square"></i>
              </a>
              <CButton color="danger" @click="deleteInterest(interest.id)">
                <CIcon icon="cil-trash" />
              </CButton>
            </div>
          </CTableDataCell>
        </CTableRow>
      </CTableBody>
    </CTable>
    <CPagination
      class="d-flex justify-content-center mt-3"
      v-if="interests && interests.data.length > 0"
      aria-label="Page navigation example"
      style="direction: rtl"
    >
      <CPaginationItem
        aria-label="Previous"
        v-if="
          interests.current_page <= interests.last_page &&
          interests.current_page != 1
        "
        :href="'/admin/interest?page=' + (interests.current_page - 1)"
        ><span aria-hidden="true">&laquo;</span></CPaginationItem
      >
      <CPaginationItem
        :href="'/admin/interest?page=' + interests.current_page"
        active
        >{{ interests.current_page }}</CPaginationItem
      >
      <CPaginationItem
        aria-label="Next"
        v-if="interests.current_page + 1 <= interests.last_page"
        :href="'/admin/interest?page=' + (interests.current_page + 1)"
        ><span aria-hidden="true">&raquo;</span></CPaginationItem
      >
    </CPagination>
    <CModal
      alignment="center"
      :visible="visibleAddModal"
      @close="visibleAddModal = false"
    >
      <CModalHeader>
        <CModalTitle>Create Interest</CModalTitle>
      </CModalHeader>
      <CModalBody>
        <CForm
          class="row g-3 needs-validation"
          novalidate
          :validated="validated"
          @submit.prevent="createInterest"
        >
          <CCol md="12" class="position-relative">
            <CFormLabel for="name">Name</CFormLabel>
            <CFormInput id="name" v-model="name" class="admin" required />
            <CFormFeedback tooltip invalid>
              Please provide a valid name.
            </CFormFeedback>
          </CCol>
          <CCol xs="12" class="position-relative">
            <div class="d-grid gap-2 d-md-flex justify-content-md">
              <CButton color="success" type="submit">Save</CButton>
              <CButton
                color="secondary"
                @click="
                  () => {
                    visibleAddModal = false;
                  }
                "
              >
                Close
              </CButton>
            </div>
          </CCol>
        </CForm>
      </CModalBody>
    </CModal>
  </div>
</template>

<script>
import INTEREST from "@/graphql/queries/interest/Interests.gql";
import DELETE_INTEREST from "@/graphql/mutations/admin/interest/DeleteInterest.gql";
import UPDATE_INTEREST from "@/graphql/mutations/admin/interest/UpdateInterest.gql";
import CREATE_INTEREST from "@/graphql/mutations/admin/interest/CreateInterest.gql";
import { failedToast, successToast, isEmpty } from "@/utilities/helper";
import { HalfCircleSpinner } from "epic-spinners";
export default {
  name: "InterestView",
  components: {
    HalfCircleSpinner,
  },
  apollo: {
    interests: {
      query: INTEREST,
      fetchPolicy: "cache-and-network",
      variables() {
        return {
          page: this.$route.query.page ? parseInt(this.$route.query.page) : 1,
        };
      },
    },
  },
  data() {
    return {
      validated: null,
      interests: null,
      name: "",
      id: null,
      editOffset: -1,
      editInterest: {},
      visibleAddModal: false,
    };
  },
  methods: {
    createInterest() {
      if (!isEmpty(this.name))
        this.$apollo
          .mutate({
            mutation: CREATE_INTEREST,
            variables: {
              name: this.name,
            },
          })
          .then((data) => {
            if (data.data["createInterest"].result) {
              this.$apollo.queries.interests.refetch();
              successToast(data.data["createInterest"].message);
              this.visibleAddModal = false;
              this.name = "";
            } else {
              failedToast(data.data["createInterest"].message);
            }
          })
          .catch((error) => {
            failedToast(error.graphQLErrors[0].message);
          });
    },
    startEditing(index) {
      this.editOffset = index;
      this.editInterest = this.interests.data[index];
      this.$nextTick(
        function () {
          document.getElementById("interest-" + this.editOffset).focus();
        }.bind(this)
      );
    },
    updateInterest(id) {
      this.editOffset = -1;
      if (!isEmpty(this.name))
        this.$apollo
          .mutate({
            mutation: UPDATE_INTEREST,
            variables: {
              id: id,
              name: this.name,
            },
          })
          .then((data) => {
            if (data.data["updateInterest"].result) {
              successToast(data.data["updateInterest"].message);
              this.$apollo.queries.interests.refetch();
              this.name = null;
            } else {
              failedToast(data.data["updateInterest"].message);
            }
          })
          .catch((error) => {
            failedToast(
              error.graphQLErrors[0].extensions.validation.name.toString()
            );
          });
    },
    deleteInterest(interestId) {
      this.$apollo
        .mutate({
          mutation: DELETE_INTEREST,
          variables: {
            id: interestId,
          },
        })
        .then((data) => {
          if (data.data["deleteInterest"].result) {
            successToast(data.data["deleteInterest"].message);
            this.$apollo.queries.interests.refetch();
          } else {
            failedToast(data.data["deleteInterest"].message);
          }
        })
        .catch((error) => {
          failedToast(error.graphQLErrors[0].message);
        });
    },
  },
};
</script>
