<template>
  <half-circle-spinner
    v-if="$apollo.queries.setting.loading"
    disabled
    animation-duration="2000"
    size="20"
    color="#e43a06"
    class="spinner"
  />
  <CCard v-else>
    <CCardBody>
      <CForm class="row g-3 needs-validation" @submit.prevent="updateSetting">
        <CCol md="12" class="position-relative">
          <CFormLabel for="title">Key</CFormLabel>
          <CFormInput id="title" :value="key" class="admin" readonly />
        </CCol>
        <CCol md="12" class="position-relative">
          <CFormLabel for="desc">Description</CFormLabel>
          <ckeditor
            :editor="editor"
            :value="value"
            v-model="value"
            required
          ></ckeditor>
          <CFormFeedback tooltip invalid>
            Please provide a valid description.
          </CFormFeedback>
        </CCol>
        <div class="d-grid gap-2 d-md-flex justify-content-md">
          <CButton color="success" type="submit">Save</CButton>
          <CButton color="dark" @click="this.$router.back()">Cancel</CButton>
        </div>
      </CForm>
    </CCardBody>
  </CCard>
</template>
<style>
.ck-editor__editable {
  min-height: 300px;
}
</style>
<script>
import UPDATE_SETTING from "@/graphql/mutations/admin/setting/UpdateSetting.gql";
import SETTING from "@/graphql/queries/setting/Setting.gql";
import { failedToast, successToast, isEmpty } from "@/utilities/helper";
import { HalfCircleSpinner } from "epic-spinners";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
export default {
  name: "UpdateSetting",
  components: {
    HalfCircleSpinner,
  },
  apollo: {
    setting: {
      query: SETTING,
      variables() {
        return { id: this.id };
      },
      result(ApolloQueryResult) {
        this.data = ApolloQueryResult.data.setting.data;
        this.key = this.data.key;
        this.value = this.data.value;
      },
      fetchPolicy: "cache-and-network",
    },
  },
  data() {
    return {
      editor: ClassicEditor,
      id: this.$route.params.id,
      setting: null,
      key: null,
      value: null,
    };
  },
  methods: {
    updateSetting() {
      if (!isEmpty(this.value)) {
        this.$apollo
          .mutate({
            mutation: UPDATE_SETTING,
            variables: {
              id: this.id,
              value: this.value,
            },
          })
          .then((data) => {
            if (data.data["updateSetting"].result) {
              successToast(data.data["updateSetting"].message);
              this.$router.back();
            } else {
              failedToast(data.data["updateSetting"].message);
            }
          })
          .catch((error) => {
            failedToast(error.graphQLErrors[0].message);
          });
      } else {
        failedToast("Please, fill all required field");
      }
    },
  },
};
</script>
