<template>
  <half-circle-spinner
    v-if="$apollo.queries.settings.loading"
    disabled
    animation-duration="2000"
    size="20"
    color="#e43a06"
    class="spinner"
  />
  <div v-else>
    <CTable>
      <CTableHead>
        <CTableRow>
          <CTableHeaderCell>#</CTableHeaderCell>
          <CTableHeaderCell>Title</CTableHeaderCell>
          <CTableHeaderCell>Description</CTableHeaderCell>
          <CTableHeaderCell>Action</CTableHeaderCell>
        </CTableRow>
      </CTableHead>
      <CTableBody>
        <CTableRow v-for="(setting, index) in settings.data" :key="index">
          <CTableHeaderCell>{{ setting.id }}</CTableHeaderCell>
          <CTableHeaderCell>{{ setting.key }}</CTableHeaderCell>
          <CTableHeaderCell v-html="setting.value"></CTableHeaderCell>
          <CTableDataCell>
            <div class="d-grid gap-2 d-md-flex justify-content-md">
              <a
                :href="'/admin/setting/edit/' + setting.id"
                class="btn btn-md btn-primary"
              >
                <i class="bi bi-pencil-square"></i>
              </a>
            </div>
          </CTableDataCell>
        </CTableRow>
      </CTableBody>
    </CTable>
    <CPagination
      class="d-flex justify-content-center mt-3"
      v-if="settings && settings.data.length > 0"
      aria-label="Page navigation example"
      style="direction: rtl"
    >
      <CPaginationItem
        aria-label="Previous"
        v-if="
          settings.current_page <= settings.last_page &&
          settings.current_page != 1
        "
        :href="'/admin/setting?page=' + (settings.current_page - 1)"
        ><span aria-hidden="true">&laquo;</span>
      </CPaginationItem>
      <CPaginationItem
        :href="'/admin/setting?page=' + settings.current_page"
        active
        >{{ settings.current_page }}
      </CPaginationItem>
      <CPaginationItem
        aria-label="Next"
        v-if="settings.current_page + 1 <= settings.last_page"
        :href="'/admin/setting?page=' + (settings.current_page + 1)"
        ><span aria-hidden="true">&raquo;</span>
      </CPaginationItem>
    </CPagination>
  </div>
</template>

<script>
import SETTINGS from "@/graphql/queries/setting/Settings.gql";
import UPDATE_SETTING from "@/graphql/mutations/admin/setting/UpdateSetting.gql";
import { failedToast, successToast, isEmpty } from "@/utilities/helper";
import { HalfCircleSpinner } from "epic-spinners";
export default {
  name: "SettingView",
  components: {
    HalfCircleSpinner,
  },
  apollo: {
    settings: {
      query: SETTINGS,
      fetchPolicy: "cache-and-network",
      variables() {
        return {
          page: this.$route.query.page ? parseInt(this.$route.query.page) : 1,
        };
      },
    },
  },
  data() {
    return {
      settings: null,
      value: "",
      id: null,
    };
  },
  methods: {
    updateSetting(id) {
      if (!isEmpty(this.value))
        this.$apollo
          .mutate({
            mutation: UPDATE_SETTING,
            variables: {
              id: id,
              value: this.value,
            },
          })
          .then((data) => {
            if (data.data["updateSetting"].result) {
              successToast(data.data["updateSetting"].message);
              this.$apollo.queries.settings.refetch();
              this.value = null;
            } else {
              failedToast(data.data["updateSetting"].message);
            }
          })
          .catch((error) => {
            failedToast(
              error.graphQLErrors[0].extensions.validation.value.toString()
            );
          });
    },
  },
};
</script>
