<template>
  <half-circle-spinner
    v-if="$apollo.queries.regions.loading"
    disabled
    animation-duration="2000"
    size="20"
    color="#e43a06"
    class="spinner"
  />
  <div v-else>
    <CButton color="dark" class="mb-3" @click="visibleModal()">
      <CIcon icon="cil-plus" /> New
    </CButton>
    <CTable>
      <CTableHead>
        <CTableRow>
          <CTableHeaderCell scope="col">#</CTableHeaderCell>
          <CTableHeaderCell scope="col">Name</CTableHeaderCell>
          <CTableHeaderCell scope="col">Action</CTableHeaderCell>
        </CTableRow>
      </CTableHead>
      <CTableBody>
        <CTableRow v-for="(region, index) in regions.data" :key="index">
          <CTableHeaderCell scope="row">{{ region.id }}</CTableHeaderCell>
          <CTableDataCell>
            <h6 v-show="editOffset != index" class="list-group-item-heading">
              {{ region.name }}
            </h6>
            <input
              v-show="editOffset == index"
              type="text"
              :id="'region-' + index"
              @keydown.enter="updateRegion(region.id)"
              class="form-control admin"
              :placeholder="region.name"
              v-model="name"
            />
          </CTableDataCell>
          <CTableDataCell>
            <div class="d-grid gap-2 d-md-flex justify-content-md">
              <a
                href="#"
                class="btn btn-md btn-primary"
                @click="startEditing(index)"
              >
                <i class="bi bi-pencil-square"></i>
              </a>
              <CButton color="danger" @click="deleteRegion(region.id)">
                <CIcon icon="cil-trash" />
              </CButton>
            </div>
          </CTableDataCell>
        </CTableRow>
      </CTableBody>
    </CTable>
    <CPagination
      class="d-flex justify-content-center mt-3"
      v-if="regions && regions.data.length > 0"
      aria-label="Page navigation example"
      style="direction: rtl"
    >
      <CPaginationItem
        aria-label="Previous"
        v-if="
          regions.current_page <= regions.last_page && regions.current_page != 1
        "
        :href="'/admin/region?page=' + (regions.current_page - 1)"
        ><span aria-hidden="true">&laquo;</span></CPaginationItem
      >
      <CPaginationItem
        :href="'/admin/region?page=' + regions.current_page"
        active
        >{{ regions.current_page }}</CPaginationItem
      >
      <CPaginationItem
        aria-label="Next"
        v-if="regions.current_page + 1 <= regions.last_page"
        :href="'/admin/region?page=' + (regions.current_page + 1)"
        ><span aria-hidden="true">&raquo;</span></CPaginationItem
      >
    </CPagination>

    <CModal
      alignment="center"
      :visible="visibleAddModal"
      @close="visibleAddModal = false"
    >
      <CModalHeader>
        <CModalTitle>Create Region</CModalTitle>
      </CModalHeader>
      <CModalBody>
        <CForm class="row g-3 needs-validation" @submit.prevent="createRegion">
          <CCol md="12" class="position-relative">
            <CFormLabel for="name">Name</CFormLabel>
            <CFormInput id="name" v-model="name" class="admin" required />
            <CFormFeedback tooltip invalid>
              Please provide a valid name.
            </CFormFeedback>
          </CCol>
          <CCol xs="12" class="position-relative">
            <div class="d-grid gap-2 d-md-flex justify-content-md">
              <CButton color="success" type="submit">Save</CButton>
              <CButton
                color="secondary"
                @click="
                  () => {
                    visibleAddModal = false;
                  }
                "
              >
                Close
              </CButton>
            </div>
          </CCol>
        </CForm>
      </CModalBody>
    </CModal>
  </div>
</template>

<script>
import REGION from "@/graphql/queries/region/Regions.gql";
import DELETE_REGION from "@/graphql/mutations/admin/region/DeleteRegion.gql";
import UPDATE_REGION from "@/graphql/mutations/admin/region/UpdateRegion.gql";
import CREATE_REGION from "@/graphql/mutations/admin/region/CreateRegion.gql";
import { failedToast, successToast, isEmpty } from "@/utilities/helper";
import { HalfCircleSpinner } from "epic-spinners";
export default {
  name: "RegionView",
  components: {
    HalfCircleSpinner,
  },
  apollo: {
    regions: {
      query: REGION,
      fetchPolicy: "cache-and-network",
      variables() {
        return {
          page: this.$route.query.page ? parseInt(this.$route.query.page) : 1,
        };
      },
    },
  },
  data() {
    return {
      regions: null,
      name: "",
      id: null,
      editOffset: -1,
      editRegion: {},
      visibleAddModal: false,
    };
  },
  methods: {
    visibleModal() {
      this.visibleAddModal = true;
    },
    createRegion() {
      if (!isEmpty(this.name))
        this.$apollo
          .mutate({
            mutation: CREATE_REGION,
            variables: {
              name: this.name,
            },
          })
          .then((data) => {
            if (data.data["createRegion"].result) {
              this.$apollo.queries.regions.refetch();
              successToast(data.data["createRegion"].message);
              this.visibleAddModal = false;
              this.name = "";
            } else {
              failedToast(data.data["createRegion"].message);
            }
          })
          .catch((error) => {
            failedToast(error.graphQLErrors[0].message);
          });
    },
    startEditing(index) {
      this.editOffset = index;
      this.editRegion = this.regions.data[index];
      this.$nextTick(
        function () {
          document.getElementById("region-" + this.editOffset).focus();
        }.bind(this)
      );
    },
    updateRegion(id) {
      this.editOffset = -1;
      if (!isEmpty(this.name))
        this.$apollo
          .mutate({
            mutation: UPDATE_REGION,
            variables: {
              id: id,
              name: this.name,
            },
          })
          .then((data) => {
            if (data.data["updateRegion"].result) {
              successToast(data.data["updateRegion"].message);
              this.$apollo.queries.regions.refetch();
              this.name = null;
            } else {
              failedToast(data.data["updateRegion"].message);
            }
          })
          .catch((error) => {
            failedToast(
              error.graphQLErrors[0].extensions.validation.name.toString()
            );
          });
    },
    deleteRegion(regionId) {
      this.$apollo
        .mutate({
          mutation: DELETE_REGION,
          variables: {
            id: regionId,
          },
        })
        .then((data) => {
          if (data.data["deleteRegion"].result) {
            successToast(data.data["deleteRegion"].message);
            this.$apollo.queries.regions.refetch();
          } else {
            failedToast(data.data["deleteRegion"].message);
          }
        })
        .catch((error) => {
          failedToast(error.graphQLErrors[0].message);
        });
    },
  },
};
</script>
