<template>
  <AppHeader bcolor="#97c3c6" position="relative" />
  <div class="camp">
    <half-circle-spinner
      v-if="$apollo.queries.activity.loading"
      disabled
      animation-duration="2000"
      size="40"
      color="#e43a06"
      class="spinner"
    />
    <div v-else>
      <div v-if="activity.data">
        <div class="text-center page-title py-5 mb-3">
          <CContainer>
            <h2>
              {{ activity.data.title }}
            </h2>
            <p>by {{ activity.data.organiser.name }}</p>
          </CContainer>
        </div>
        <CContainer>
          <div class="row">
            <div class="col-lg-7 col-sm-12">
              <img
                src="@/assets/imgs/places/didin-emelu-8--kuxbxuKU-unsplash.jpg"
                class="camp-img"
                alt="..."
              />
              <h6 class="mt-5 head-desc">Age</h6>
              <p>
                <img src="@/assets/imgs/age.png" alt="" style="width: 20px" />
                {{ activity.data.age }}
              </p>
              <h6 class="head-desc">Interest</h6>
              <p v-for="interest in activity.data.interests" :key="interest.id">
                <i class="bi bi-check-all"></i> {{ interest.name }}
              </p>
              <div class="date-time d-flex">
                <div class="date">
                  <h6 class="head-desc">Date</h6>
                  <p>
                    {{ activity.data.start_date.substring(0, 10) }}
                    -
                    {{ activity.data.end_date.substring(0, 10) }}
                  </p>
                </div>
                <div class="time">
                  <h6 class="head-desc">Time</h6>
                  <p>
                    {{ activity.data.start_date.slice(10, -1) }}
                    -
                    {{ activity.data.end_date.slice(10, -1) }}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-sm-12">
              <h6 class="mt-5 head-desc">About Camp</h6>
              <p class="fw-normal" v-html="activity.data.description"></p>
              <h6 class="head-desc">About Organiser</h6>
              <p>
                <span class="organiser">
                  {{ activity.data.organiser.name }}
                </span>
                <span v-html="activity.data.organiser.description"></span>
              </p>
              <div class="card" style="width: 25rem">
                <div class="card-body p-4">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div>
                      <h5 class="card-title">Booking Now</h5>
                      <h6 class="card-subtitle mb-2 text-muted">
                        The Cost per Person
                        <span>${{ activity.data.cost }}</span>
                      </h6>
                    </div>
                    <a
                      :href="'/activities/' + activity.data.id + '/reservation'"
                      class="btn card-link"
                      >booking</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h6 class="mt-3 head-desc">Address</h6>
              <p>
                <i class="bi bi-geo-alt"></i> {{ activity.data.region.name }}
              </p>
              <div
                id="map-container-google-1"
                class="z-depth-1-half map-container"
              >
                <iframe
                  src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed"
                  frameborder="0"
                  style="border: 0"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          </div>
        </CContainer>
      </div>
      <div v-else class="no-data">No Data Available...</div>
    </div>
  </div>
</template>

<script>
import AppHeader from "@/components/User/AppHeader.vue";
import ACTIVITY from "@/graphql/queries/activity/Activity.gql";
import { HalfCircleSpinner } from "epic-spinners";
import moment from "moment";
export default {
  name: "ActivityView",
  components: {
    AppHeader,
    HalfCircleSpinner,
  },
  apollo: {
    activity: {
      query: ACTIVITY,
      variables() {
        return {
          id: this.$route.params.id,
        };
      },
      fetchPolicy: "cache-and-network",
    },
  },
  methods: {
    moment: function () {
      return moment();
    },
  },
};
</script>
