<template>
  <AppHeader bcolor="#97c3c6" position="relative" />
  <div class="text-center page-title py-5 mb-3">
    <CContainer>
      <h2>Activites</h2>
      <p>
        Quickly generate Lorem Ipsum placeholder text. Select a desired length
        and choose between paragraphs, words, bytes
      </p>
    </CContainer>
  </div>
  <div class="activities container">
    <CRow>
      <CCol lg="3" md="12"
        ><div class="filter-interest text-center">
          <div class="container filters">
            <div class="d-flex justify-content-center w-100">
              <i class="bi bi-funnel-fill"></i>
              <h3>Filters</h3>
            </div>
            <RegionFilter
              @addFilter="getData($event)"
              @removeRegionFilter="removeFilter($event)"
            ></RegionFilter>
            <OrganiserFilter
              @addFilter="getData($event)"
              @removeOrganiserFilter="removeFilter($event)"
            ></OrganiserFilter>
            <InterestFilter
              @addFilter="getData($event)"
              @removeInterestFilter="removeFilter($event)"
            ></InterestFilter>
            <AgeFilter
              @addFilter="getData($event)"
              @removeAgeFilter="removeFilter($event)"
            ></AgeFilter>
            <MonthFilter
              @addFilter="getData($event)"
              @removeMonthFilter="removeFilter($event)"
            ></MonthFilter>
            <DateFilter @addFilter="getData($event)"></DateFilter>
          </div>
          <div class="filters-offcanvas text-center">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbarDark"
              aria-controls="offcanvasNavbarDark"
            >
              <div class="d-flex justify-content-center w-100">
                <i class="bi bi-funnel-fill"></i>
                <h3>Filters</h3>
              </div>
            </button>
            <div
              class="offcanvas offcanvas-end"
              tabindex="-1"
              id="offcanvasNavbarDark"
              aria-labelledby="offcanvasNavbarDarkLabel"
            >
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">
                  <div class="d-flex justify-content-center w-100">
                    <i class="bi bi-funnel-fill"></i>
                    <h3>Filters</h3>
                  </div>
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                ></button>
              </div>
              <div class="offcanvas-body container">
                <RegionFilter
                  @addFilter="getData($event)"
                  @removeRegionFilter="removeFilter($event)"
                ></RegionFilter>
                <OrganiserFilter
                  @addFilter="getData($event)"
                  @removeOrganiserFilter="removeFilter($event)"
                ></OrganiserFilter>
                <InterestFilter
                  @addFilter="getData($event)"
                  @removeInterestFilter="removeFilter($event)"
                ></InterestFilter>
                <AgeFilter
                  @addFilter="getData($event)"
                  @removeAgeFilter="removeFilter($event)"
                ></AgeFilter>
                <MonthFilter
                  @addFilter="getData($event)"
                  @removeMonthFilter="removeFilter($event)"
                ></MonthFilter>
                <DateFilter @addFilter="getData($event)"></DateFilter>
              </div>
            </div>
          </div></div
      ></CCol>
      <CCol lg="9" md="12">
        <half-circle-spinner
          v-if="$apollo.queries.activities.loading"
          disabled
          animation-duration="2000"
          size="40"
          color="#e43a06"
          class="spinner"
        />
        <div v-else>
          <div class="row" v-if="activities.data.length > 0">
            <div
              v-for="activity in activities.data"
              :key="activity.id"
              class="col-md-4 col-sm-12 d-flex justify-content-center mb-2"
            >
              <div class="card" style="width: 22rem">
                <a :href="'/activities/' + activity.id" class="link">
                  <img
                    src="@/assets/imgs/places/clarisse-meyer-FQ96bh4O1tY-unsplash.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <div
                      class="d-flex justify-content-between align-activitys-center"
                    >
                      <div>
                        <h5 class="card-title">{{ activity.title }}</h5>
                        <h6 class="card-subtitle mb-3 text-muted">
                          by <span>{{ activity.organiser.name }}</span>
                        </h6>
                      </div>
                      <div class="mt-1">
                        <a href="#" class="btn card-link">25$</a>
                      </div>
                    </div>
                    <p class="card-text text-muted mb-2">
                      <img
                        src="@/assets/imgs/age.png"
                        alt=""
                        style="width: 20px"
                      />
                      {{ activity.age }}
                    </p>
                    <i
                      class="bi bi-geo-alt"
                      style="margin-right: 8px; margin-left: 2px"
                    ></i
                    >{{ activity.region.name }}
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div v-else class="no-data">No Data Available...</div>
          <ul
            class="pagination d-flex justify-content-center mt-3"
            v-if="
              activities &&
              activities.data.length > 0 &&
              activities.current_page != activities.last_page
            "
          >
            <li
              class="page-activity disabled"
              v-if="
                activities.current_page <= activities.last_page &&
                activities.current_page != 1
              "
            >
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-activity active">
              <a class="page-link">{{ activities.current_page }}</a>
            </li>
            <li
              class="page-activity"
              v-if="activities.current_page + 1 <= activities.last_page"
            >
              <a class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </div>
      </CCol>
    </CRow>
  </div>
</template>
<script>
import AppHeader from "@/components/User/AppHeader.vue";
import RegionFilter from "@/components/User/Filters/RegionFilter";
import InterestFilter from "@/components/User/Filters/InterestFilter";
import MonthFilter from "@/components/User/Filters/MonthFilter";
import AgeFilter from "@/components/User/Filters/AgeFilter";
import OrganiserFilter from "@/components/User/Filters/OrganiserFilter";
import DateFilter from "@/components/User/Filters/DateFilter";
import ACTIVITIES from "@/graphql/queries/activity/Activities.gql";
import { HalfCircleSpinner } from "epic-spinners";
export default {
  name: "ActivitiesView",
  components: {
    AppHeader,
    RegionFilter,
    InterestFilter,
    MonthFilter,
    AgeFilter,
    OrganiserFilter,
    DateFilter,
    HalfCircleSpinner,
  },
  apollo: {
    activities: {
      query: ACTIVITIES,
      variables() {
        return {
          type: this.$route.params.type,
          page: parseInt(this.$route.query.page)
            ? parseInt(this.$route.query.page)
            : 1,
          filters: this.activity_filters,
        };
      },
      fetchPolicy: "cache-and-network",
    },
  },
  data() {
    return {
      activity_filters: this.$store.state.activities_filters,
      selectedDate: null,
    };
  },
  methods: {
    getData(data) {
      const index = this.activity_filters.findIndex((object) => {
        return object.column === data.column;
      });
      if (!data.value && this.activity_filters.length > 0 && index > -1) {
        this.activity_filters.splice(index, 1);
      } else if (this.activity_filters.length > 0 && index > -1) {
        this.activity_filters.splice(index, 1);
        this.activity_filters.push(data);
      } else {
        this.activity_filters.push(data);
      }
      this.refetchData();
    },
    removeFilter(data) {
      const index = this.activity_filters.findIndex((object) => {
        return object.column === data.column;
      });
      if (this.activity_filters.length > 0 && index > -1) {
        this.activity_filters.splice(index, 1);
      }
      this.refetchData();
    },
    refetchData() {
      this.$apollo.queries.activities.refetch({
        page: 1,
        filters: this.activity_filters,
      });
    },
  },
};
</script>
