<template>
  <AppHeader />
  <div class="banner-container">
    <div class="container">
      <div class="text-banner">
        <p>There's sitll time, Make your way</p>
        <h1>Create your own adventure</h1>
      </div>
      <div class="search-banner filter-interest">
        <div class="row">
          <div class="col-lg-3 col-md-12 select-banner">
            <InterestFilter
              width="100%"
              @addFilter="getData($event)"
              @removeInterestFilter="removeFilter($event)"
            >
            </InterestFilter>
          </div>
          <div class="col-lg-3 col-md-12 select-banner">
            <AgeFilter
              width="100%"
              @addFilter="getData($event)"
              @removeAgeFilter="removeFilter($event)"
            ></AgeFilter>
          </div>
          <div class="col-lg-3 col-md-12 select-banner">
            <RegionFilter
              width="100%"
              @addFilter="getData($event)"
              @removeRegionFilter="removeFilter($event)"
            >
            </RegionFilter>
          </div>
          <div class="col-lg-3 col-md-12 search-btn">
            <button class="btn">
              <i class="bi bi-search" @click="search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <AppServices></AppServices>
  <BestPlaces></BestPlaces>
  <AppGallery></AppGallery>
  <Partners></Partners>
  <ContactUs></ContactUs>
</template>
<script>
import AppHeader from "@/components/User/AppHeader.vue";
import AppServices from "@/components/User/AppServices.vue";
import BestPlaces from "@/components/User/BestPlaces.vue";
import AppGallery from "@/components/User/AppGallery.vue";
import ContactUs from "@/components/User/ContactUs.vue";
import Partners from "@/components/User/Partners.vue";
import RegionFilter from "@/components/User/Filters/RegionFilter";
import InterestFilter from "@/components/User/Filters/InterestFilter";
import AgeFilter from "@/components/User/Filters/AgeFilter";
export default {
  name: "HomeView",
  components: {
    AppHeader,
    RegionFilter,
    InterestFilter,
    AgeFilter,
    AppServices,
    BestPlaces,
    AppGallery,
    ContactUs,
    Partners,
  },
  data() {
    return {
      activity_filters: [],
    };
  },
  methods: {
    getData(data) {
      const index = this.activity_filters.findIndex((object) => {
        return object.column === data.column;
      });
      if (this.activity_filters.length > 0 && index > -1) {
        this.activity_filters.splice(index, 1);
        this.activity_filters.push(data);
      } else {
        this.activity_filters.push(data);
      }
      if (data.column == "age") {
        this.$store.commit("updateAgeFilter", {
          age: data.value,
        });
      } else if (data.column == "region") {
        this.$store.commit("updateRegionFilter", {
          region: data.value,
        });
      } else if (data.column == "interest") {
        this.$store.commit("updateInterestFilter", {
          interest: data.value,
        });
      }
    },
    removeFilter(data) {
      const index = this.activity_filters.findIndex((object) => {
        return object.column === data.column;
      });
      if (this.activity_filters.length > 0 && index > -1) {
        this.activity_filters.splice(index, 1);
      }
    },
    search() {
      this.$store.commit("passFilterToActivity", {
        filters: this.activity_filters,
      });
      this.$router.push({
        name: "activities",
      });
    },
  },
};
</script>
