<template>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap p-0">
            <h3 class="mb-4 text-center">Have an account?</h3>
            <form @submit.prevent="login" class="signin-form">
              <div class="form-group mb-3">
                <input
                  type="email"
                  id="defaultForm-email"
                  class="form-control validate"
                  placeholder="email"
                  v-model="email"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <input
                  id="password-field"
                  type="password"
                  class="form-control validate"
                  placeholder="Password"
                  required
                  v-model="password"
                />
              </div>
              <div class="form-group">
                <button
                  type="submit"
                  class="form-control btn btn-primary submit px-3"
                >
                  Sign In
                </button>
              </div>
            </form>
            <p class="w-100 text-center mt-4">
              &mdash; If You dont have account,
              <a href="/register">Sign Up</a> &mdash;
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<style scoped>
@import "@/assets/css/auth.css";
</style>
<script>
import LOGIN from "@/graphql/mutations/shared/auth/Login.gql";
import { successToast, failedToast } from "@/utilities/helper";
export default {
  name: "OrganiserView",
  components: {},
  data() {
    return {
      email: null,
      password: null,
    };
  },
  methods: {
    login() {
      if (this.email && this.password) {
        this.$apollo
          .mutate({
            mutation: LOGIN,
            variables: {
              email: this.email,
              password: this.password,
            },
          })
          .then((data) => {
            if (!data.data["login"].result) {
              failedToast(data.data["login"].message);
            } else {
              let result = data.data["login"].data;
              localStorage.setItem("EMAIL", result.user.email);
              localStorage.setItem("NAME", result.user.name);
              localStorage.setItem("TOKEN", result.token);
              localStorage.setItem("isLoggedIn", true);
              this.isLoggedIn = true;
              successToast(data.data["login"].message);
              this.$router.push("/");
            }
          })
          .catch((error) => {
            if (error.graphQLErrors[0].extensions.validation.password) {
              failedToast(
                error.graphQLErrors[0].extensions.validation.password.toString()
              );
            } else {
              failedToast(error.graphQLErrors[0].extensions.validation);
            }
          });
      } else {
        failedToast("Fill all Fields");
      }
    },
  },
};
</script>
