<template>
  <AppHeader bcolor="#97c3c6" position="relative" />
  <div class="organiser my-5">
    <half-circle-spinner
      v-if="
        $apollo.queries.organiser.loading ||
        $apollo.queries.lastActivities.loading
      "
      disabled
      animation-duration="2000"
      size="40"
      color="#e43a06"
      class="spinner"
    />
    <div v-else class="container">
      <div class="text-center">
        <img
          src="@/assets/imgs/eventLogo.png"
          class="organiser-img"
          alt="..."
        />
      </div>
      <div class="row">
        <div class="col-8">
          <h4>
            About
            <Span class="organiser-name">{{ organiser.data.name }} </Span>
          </h4>
          <p v-html="organiser.data.description"></p>
        </div>
        <div class="col-4">
          <div class="contact-us">
            <h5>Contact Us</h5>
            <div class="links d-grid">
              <a :href="'tel:' + organiser.data.phone" class="mt-3"
                ><i class="bi bi-telephone"></i>{{ organiser.data.phone }}</a
              >
              <a :href="'mailto:' + organiser.data.email" class="mt-3"
                ><i class="bi bi-envelope"></i>{{ organiser.data.email }}</a
              >
              <a class="mt-3"
                ><i class="bi bi-geo-alt"></i>{{ organiser.data.address }}</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 activities">
        <h5 class="mb-3">Last Our Activities</h5>
        <carousel v-if="lastActivities.data.length > 0" :items-to-show="3">
          <slide v-for="activity in lastActivities.data" :key="activity">
            <div class="card" style="width: 20rem">
              <a :href="'/activities/' + activity.id" class="link">
                <img
                  src="@/assets/imgs/places/clarisse-meyer-FQ96bh4O1tY-unsplash.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <div
                    class="d-flex justify-content-between align-activitys-center card-title"
                  >
                    <h5>{{ activity.title }}</h5>
                    <div class="d-flex">
                      <i
                        class="bi bi-geo-alt"
                        style="margin-left: 2px; margin-top: -5px"
                      ></i>
                      <h5>{{ activity.region.name }}</h5>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </slide>
          <template #addons>
            <navigation />
          </template>
        </carousel>
        <div v-else class="no-data text-start">No Activities Yet...</div>
      </div>
    </div>
  </div>
</template>

<script>
import AppHeader from "@/components/User/AppHeader.vue";
import ORGANISER from "@/graphql/queries/organiser/Organiser.gql";
import LASTACTIVITIES from "@/graphql/queries/activity/LastActivities.gql";
import { HalfCircleSpinner } from "epic-spinners";
import "vue3-carousel/dist/carousel.css";
import { Carousel, Slide, Navigation } from "vue3-carousel";
export default {
  name: "OrganiserView",
  components: {
    AppHeader,
    HalfCircleSpinner,
    Carousel,
    Slide,
    Navigation,
  },
  apollo: {
    organiser: {
      query: ORGANISER,
      variables() {
        return {
          id: this.$route.params.id,
        };
      },
      fetchPolicy: "cache-and-network",
    },
    lastActivities: {
      query: LASTACTIVITIES,
      variables() {
        return {
          organiser_id: this.$route.params.id,
        };
      },
      fetchPolicy: "cache-and-network",
    },
  },
};
</script>
