<template>
  <AppHeader bcolor="#97c3c6" position="relative" />
  <div class="text-center page-title py-5 mb-3">
    <CContainer>
      <h2>Organisers</h2>
      <p>
        Quickly generate Lorem Ipsum placeholder text. Select a desired length
        and choose between paragraphs, words, bytes
      </p>
    </CContainer>
  </div>
  <div class="organisers my-5">
    <half-circle-spinner
      v-if="$apollo.queries.organisers.loading"
      disabled
      animation-duration="2000"
      size="40"
      color="#e43a06"
      class="spinner"
    />
    <div v-else class="container mt-5">
      <div class="row" v-if="organisers.data.length > 0">
        <div
          v-for="organiser in organisers.data"
          :key="organiser.id"
          class="col-lg-12"
        >
          <div class="card mb-3">
            <div class="row">
              <div class="col-lg-4 d-flex justify-content-center">
                <img
                  src="@/assets/imgs/eventLogo.png"
                  alt="{{ organiser.name }}"
                />
              </div>
              <div class="col-lg-8">
                <div class="card-body">
                  <h5 class="card-title">{{ organiser.name }}</h5>
                  <p class="card-text" v-html="organiser.description"></p>
                  <p class="card-text">
                    <small class="text-muted"
                      ><a class="link" :href="'/organisers/' + organiser.id"
                        >see more about us
                        <i class="bi bi-chevron-double-right"></i> </a
                    ></small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else class="no-data">No Data Available...</div>
      <ul
        class="pagination d-flex justify-content-center mt-3"
        v-if="
          organisers &&
          organisers.data.length > 0 &&
          organisers.current_page != organisers.last_page
        "
      >
        <li
          class="page-activity disabled"
          v-if="
            organisers.current_page <= organisers.last_page &&
            organisers.current_page != 1
          "
        >
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-activity active">
          <a class="page-link">{{ organisers.current_page }}</a>
        </li>
        <li
          class="page-activity"
          v-if="organisers.current_page + 1 <= organisers.last_page"
        >
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import AppHeader from "@/components/User/AppHeader.vue";
import ORGANISERS from "@/graphql/queries/organiser/Organisers.gql";
import { HalfCircleSpinner } from "epic-spinners";
export default {
  name: "OrganisersView",
  components: {
    AppHeader,
    HalfCircleSpinner,
  },
  apollo: {
    organisers: {
      query: ORGANISERS,
      // variables() {
      //   return {
      //     page: parseInt(this.$route.query.page)
      //       ? parseInt(this.$route.query.page)
      //       : 1,
      //   };
      // },
      fetchPolicy: "cache-and-network",
    },
  },
};
</script>
