<template>
  <AppHeader bcolor="#97c3c6" position="relative" />
  <half-circle-spinner
    v-if="$apollo.queries.privacySettings.loading"
    disabled
    animation-duration="2000"
    size="20"
    color="#e43a06"
    class="spinner"
  />
  <div class="container" v-else>
    <h1 class="mt-5">Privacy Policy</h1>
    <h5 class="text-danger mb-5">
      Last updated:
      {{ privacySettings.data.updated_at.substring(0, 10) }}
    </h5>
    <p class="mb-5" v-html="privacySettings.data.value"></p>
  </div>
</template>
<script>
import PRIVACY_SETTINGS from "@/graphql/queries/setting/PrivacySettings.gql";
import { HalfCircleSpinner } from "epic-spinners";
import AppHeader from "@/components/User/AppHeader.vue";
export default {
  name: "OrganiserView",
  components: {
    AppHeader,
    HalfCircleSpinner,
  },
  apollo: {
    privacySettings: {
      query: PRIVACY_SETTINGS,
      fetchPolicy: "cache-and-network",
    },
  },
};
</script>
