<template>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap p-0">
            <form @submit.prevent="register" class="signin-form">
              <div class="form-group mb-3">
                <input
                  type="text"
                  class="form-control validate"
                  placeholder="name"
                  v-model="name"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <input
                  type="email"
                  id="defaultForm-email"
                  class="form-control validate"
                  placeholder="email"
                  v-model="email"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <input
                  id="password-field"
                  type="password"
                  class="form-control validate"
                  placeholder="Password"
                  required
                  v-model="password"
                />
              </div>
              <div class="form-group mb-3">
                <input
                  type="text"
                  id="defaultForm-pass"
                  class="form-control validate"
                  placeholder="address"
                  v-model="address"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <input
                  type="text"
                  id="defaultForm-pass"
                  class="form-control validate"
                  placeholder="phone"
                  v-model="phone"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <input
                  type="number"
                  id="defaultForm-pass"
                  class="form-control validate"
                  placeholder="age"
                  v-model="age"
                  required
                />
              </div>
              <div class="form-group">
                <button
                  type="submit"
                  class="form-control btn btn-primary submit px-3"
                >
                  Sign Up
                </button>
              </div>
            </form>
            <p class="w-100 text-center mt-4">
              &mdash; If You have account already,
              <a href="/register">Sign In</a> &mdash;
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<style scoped>
@import "@/assets/css/auth.css";
</style>
<script>
import REGISTER from "@/graphql/mutations/shared/auth/Register.gql";
import { successToast, failedToast } from "@/utilities/helper";
export default {
  name: "OrganiserView",
  components: {},
  data() {
    return {
      email: null,
      password: null,
      name: null,
      address: null,
      age: null,
      phone: null,
    };
  },
  methods: {
    register() {
      if (
        this.email &&
        this.password &&
        this.name &&
        this.address &&
        this.age &&
        this.phone
      ) {
        this.$apollo
          .mutate({
            mutation: REGISTER,
            variables: {
              name: this.name,
              email: this.email,
              password: this.password,
              address: this.address,
              age: this.age,
              phone: this.phone,
            },
          })
          .then((data) => {
            if (!data.data["register"].result) {
              failedToast(data.data["register"].message);
            } else {
              let result = data.data["register"].data;
              localStorage.setItem("EMAIL", result.user.email);
              localStorage.setItem("NAME", result.user.name);
              localStorage.setItem("TOKEN", result.token);
              localStorage.setItem("isLoggedIn", true);
              this.isLoggedIn = true;
              successToast(data.data["register"].message);
              this.$router.push("/");
            }
          })
          .catch((error) => {
            if (error.graphQLErrors[0].extensions.validation.email) {
              failedToast(
                error.graphQLErrors[0].extensions.validation.email.toString()
              );
            } else if (error.graphQLErrors[0].extensions.validation.password) {
              failedToast(
                error.graphQLErrors[0].extensions.validation.password.toString()
              );
            } else {
              failedToast(error.graphQLErrors[0].extensions.validation);
            }
          });
      } else {
        failedToast("Fill all Fields");
      }
    },
  },
};
</script>
