<template>
  <AppHeader bcolor="#97c3c6" position="relative" />
  <div class="container py-5">
    <div class="justify-content-center d-flex">
      <div class="reservation" v-if="!booking">
        <div class="panel-heading mb-2">
          <h3 class="panel-title">Reservation Details</h3>
        </div>
        <form @submit.prevent="handleSubmit">
          <div class="form-group mb-2">
            <label for="cardNumber"> Person Count</label>
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                id="personCount"
                name="personCount"
                v-model="personCount"
                placeholder="Count"
                min="1"
                required
              />
            </div>
          </div>
          <div>
            <label for="cvCode"> Type Payment</label>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="type_payment"
                id="cash"
                value="cash"
                @change="onTypeChange($event)"
                checked
              />
              <label class="form-check-label" for="card"> Cash </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="type_payment"
                value="card"
                @change="onTypeChange($event)"
                id="card"
              />
              <label class="form-check-label" for="online"> Card </label>
            </div>
          </div>
          <button
            class="btn btn-success btn-lg btn-block w-100 mt-4"
            type="submit"
          >
            Book
          </button>
        </form>
      </div>
      <div class="payment" v-else>
        <div class="panel-heading mb-2">
          <h3 class="panel-title">Payment Details</h3>
        </div>
        <form>
          <div class="form-group mb-2">
            <label for="cardNumber"> CARD NUMBER</label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                id="cardNumber"
                placeholder="Valid Card Number"
                required
                autofocus
              />
            </div>
          </div>
          <div class="form-group">
            <label for="cvCode"> CV CODE</label>
            <input
              type="password"
              class="form-control"
              id="cvCode"
              placeholder="CV"
              required
            />
          </div>
        </form>
        <div class="justify-content-center d-flex mt-4">
          <button class="btn btn-success btn-lg btn-block w-100">
            Pay {{ this.cost }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.month {
  margin-right: 10px;
}
input {
  color: #000 !important;
}
.payment input {
  width: 350px;
}
.reservation,
.payment {
  box-shadow: 0px 1px 10px rgb(0 0 0 / 0.2);
  padding: 40px;
  border-radius: 15px;
}
</style>
<script>
import AppHeader from "@/components/User/AppHeader.vue";
import ACTIVITY from "@/graphql/queries/activity/Activity.gql";
import CREATE_RESERVATION from "@/graphql/mutations/user/reservation/CreateReservation.gql";
import { failedToast, successToast } from "@/utilities/helper";
export default {
  name: "ReservationView",
  components: {
    AppHeader,
  },
  apollo: {
    activity: {
      query: ACTIVITY,
      variables() {
        return {
          id: this.$route.params.id,
        };
      },
      result(ApolloQueryResult) {
        this.cost = ApolloQueryResult.data.activity.data.cost;
        this.id = ApolloQueryResult.data.activity.data.id;
      },
      fetchPolicy: "cache-and-network",
    },
  },
  data() {
    this.publishableKey = process.env.STRIPE_PUBLISHABLE_KEY;
    return {
      type_payment: "cash",
      id: null,
      personCount: 1,
      cost: null,
      booking: false,
    };
  },
  methods: {
    onTypeChange(event) {
      this.type_payment = event.target.value;
    },
    handleSubmit() {
      this.$apollo
        .mutate({
          mutation: CREATE_RESERVATION,
          variables: {
            activity_id: this.id,
            person_count: this.personCount,
            type_payment: this.type_payment,
          },
        })
        .then((data) => {
          if (data.data["createReservation"].result) {
            successToast(data.data["createReservation"].message);
            this.booking = true;
          } else {
            failedToast(data.data["createReservation"].message);
          }
        })
        .catch((error) => {
          failedToast(error.graphQLErrors[0]);
        });
    },
  },
  watch: {
    personCount: function () {
      this.cost = this.cost * this.personCount;
    },
  },
};
</script>
