<template>
  <AppHeader bcolor="#97c3c6" position="relative" />
  <half-circle-spinner
    v-if="$apollo.queries.termsAndCondtionsSettings.loading"
    disabled
    animation-duration="2000"
    size="20"
    color="#e43a06"
    class="spinner"
  />
  <div class="container" v-else>
    <h1 class="mt-5">Terms & Conditions</h1>
    <h5 class="text-danger mb-5">
      Last updated:
      {{ termsAndCondtionsSettings.data.updated_at.substring(0, 10) }}
    </h5>
    <p class="mb-5" v-html="termsAndCondtionsSettings.data.value"></p>
  </div>
</template>
<script>
import TERMS_SETTINGS from "@/graphql/queries/setting/TermsAndCondtionsSettings.gql";
import { HalfCircleSpinner } from "epic-spinners";
import AppHeader from "@/components/User/AppHeader.vue";
export default {
  name: "OrganiserView",
  components: {
    AppHeader,
    HalfCircleSpinner,
  },
  apollo: {
    termsAndCondtionsSettings: {
      query: TERMS_SETTINGS,
      fetchPolicy: "cache-and-network",
    },
  },
};
</script>
