<template>
  <half-circle-spinner
    v-if="$apollo.queries.users.loading"
    disabled
    animation-duration="2000"
    size="20"
    color="#e43a06"
    class="spinner"
  />
  <div v-else>
    <CTable>
      <CTableHead>
        <CTableRow>
          <CTableHeaderCell scope="col">#</CTableHeaderCell>
          <CTableHeaderCell scope="col">Name</CTableHeaderCell>
          <CTableHeaderCell scope="col">phone</CTableHeaderCell>
          <CTableHeaderCell scope="col">Action</CTableHeaderCell>
        </CTableRow>
      </CTableHead>
      <CTableBody>
        <CTableRow v-for="(user, index) in users.data" :key="index">
          <CTableHeaderCell scope="row">{{ user.id }}</CTableHeaderCell>
          <CTableDataCell>
            {{ user.name }}
          </CTableDataCell>
          <CTableDataCell>
            {{ user.phone }}
          </CTableDataCell>
          <CTableDataCell>
            <CButton
              color="success"
              class="mb-3"
              @click="
                () => {
                  visibleAddModal = true;
                  this.selectedUser = user;
                }
              "
            >
              <i class="bi bi-eye"></i>
            </CButton>
          </CTableDataCell>
        </CTableRow>
      </CTableBody>
    </CTable>
    <CPagination
      class="d-flex justify-content-center mt-3"
      v-if="users && users.data.length > 0"
      aria-label="Page navigation example"
      style="direction: rtl"
    >
      <CPaginationItem
        aria-label="Previous"
        v-if="users.current_page <= users.last_page && users.current_page != 1"
        :href="'/admin/user?page=' + (users.current_page - 1)"
        ><span aria-hidden="true">&laquo;</span></CPaginationItem
      >
      <CPaginationItem
        :href="'/admin/user?page=' + users.current_page"
        active
        >{{ users.current_page }}</CPaginationItem
      >
      <CPaginationItem
        aria-label="Next"
        v-if="users.current_page + 1 <= users.last_page"
        :href="'/admin/user?page=' + (users.current_page + 1)"
        ><span aria-hidden="true">&raquo;</span></CPaginationItem
      >
    </CPagination>

    <CModal
      alignment="center"
      :visible="visibleAddModal"
      @close="visibleAddModal = false"
    >
      <CModalHeader>
        <CModalTitle>User Info</CModalTitle>
      </CModalHeader>
      <CModalBody>
        <CRow>
          <CCol md="3">
            <p class="mb-0 fw-bold">Full Name</p>
          </CCol>
          <CCol md="9">
            <p class="text-muted mb-0">{{ this.selectedUser.name }}</p>
          </CCol>
        </CRow>
        <hr />
        <CRow>
          <CCol md="3">
            <p class="mb-0 fw-bold">Email</p>
          </CCol>
          <CCol md="9">
            <p class="text-muted mb-0">{{ this.selectedUser.email }}</p>
          </CCol>
        </CRow>
        <hr />
        <CRow>
          <CCol md="3">
            <p class="mb-0 fw-bold">Phone</p>
          </CCol>
          <CCol md="9">
            <p class="text-muted mb-0">{{ this.selectedUser.phone }}</p>
          </CCol>
        </CRow>
        <hr />
        <CRow>
          <CCol md="3">
            <p class="mb-0 fw-bold">Age</p>
          </CCol>
          <CCol md="9">
            <p class="text-muted mb-0">{{ this.selectedUser.age }}</p>
          </CCol>
        </CRow>
        <hr />
        <CRow>
          <CCol md="3">
            <p class="mb-0 fw-bold">Address</p>
          </CCol>
          <CCol md="9">
            <p class="text-muted mb-0">{{ this.selectedUser.address }}</p>
          </CCol>
        </CRow>
      </CModalBody>
      <CModalFooter>
        <CButton
          color="secondary"
          @click="
            () => {
              visibleAddModal = false;
            }
          "
          >Close</CButton
        >
      </CModalFooter>
    </CModal>
  </div>
</template>

<script>
import USERS from "@/graphql/queries/user/Users.gql";
import { HalfCircleSpinner } from "epic-spinners";
export default {
  name: "UserList",
  components: {
    HalfCircleSpinner,
  },
  apollo: {
    users: {
      query: USERS,
      fetchPolicy: "cache-and-network",
      variables() {
        return {
          page: this.$route.query.page ? parseInt(this.$route.query.page) : 1,
        };
      },
    },
  },
  data() {
    return {
      users: null,
      selectedUser: null,
      visibleAddModal: false,
    };
  },
  methods: {},
};
</script>
