<template>
  <CRow>
    <CCol md="12">
      <CCard>
        <CCardBody>
          <CForm
            class="row g-3 needs-validation"
            @submit.prevent="createOrganiser"
          >
            <CCol md="6" class="position-relative">
              <CFormLabel for="name">Name</CFormLabel>
              <CFormInput id="name" v-model="name" class="admin" required />
              <CFormFeedback tooltip invalid>
                Please provide a valid name.
              </CFormFeedback>
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormLabel for="email">Email</CFormLabel>
              <CFormInput
                type="email"
                id="email"
                v-model="email"
                class="admin"
                required
              />
              <CFormFeedback tooltip invalid>
                Please provide a valid email.
              </CFormFeedback>
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormLabel for="phone">Phone</CFormLabel>
              <CFormInput id="phone" v-model="phone" class="admin" required />
              <CFormFeedback tooltip invalid>
                Please provide a valid phone.
              </CFormFeedback>
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormLabel for="address">Address</CFormLabel>
              <CFormInput
                id="address"
                v-model="address"
                class="admin"
                required
              />
              <CFormFeedback tooltip invalid>
                Please provide a valid address.
              </CFormFeedback>
            </CCol>
            <CCol md="12" class="position-relative">
              <CFormLabel for="description">Description</CFormLabel>
              <ckeditor
                :editor="editor"
                v-model="description"
                required
              ></ckeditor>
              <CFormFeedback tooltip invalid>
                Please provide a valid description.
              </CFormFeedback>
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormLabel for="logo">Logo</CFormLabel>
              <CFormInput
                type="file"
                id="logo"
                class="admin"
                @change="handleFileUpload"
                required
              />
              <CFormFeedback tooltip invalid>
                Please provide a valid logo.
              </CFormFeedback>
            </CCol>
            <CCol v-if="logo" md="6" class="position-relative">
              <CCardImage :src="logoSrc" />
            </CCol>
            <div class="d-grid gap-2 d-md-flex justify-content-md">
              <CButton color="success" type="submit">Save</CButton>
              <CButton color="dark" @click="this.$router.back()"
                >Cancel</CButton
              >
            </div>
          </CForm>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import CREATE_ORGANISER from "@/graphql/mutations/admin/organiser/CreateOrganiser.gql";
import { failedToast, successToast, isEmpty } from "@/utilities/helper";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
export default {
  name: "CreateOrganiser",
  data() {
    return {
      editor: ClassicEditor,
      name: null,
      logo: null,
      address: null,
      description: null,
      email: null,
      logoSrc: null,
      phone: null,
    };
  },
  methods: {
    handleFileUpload(event) {
      this.logo = event.target.files[0];
      this.displayImage(this.logo);
    },
    displayImage(logo) {
      const reader = new FileReader();
      reader.onload = (e) => {
        this.logoSrc = e.target.result;
      };
      reader.readAsDataURL(logo);
    },
    createOrganiser() {
      if (
        !isEmpty(this.name) &&
        !isEmpty(this.address) &&
        !isEmpty(this.email) &&
        !isEmpty(this.phone) &&
        !isEmpty(this.description) &&
        !isEmpty(this.logo)
      ) {
        this.$apollo
          .mutate({
            mutation: CREATE_ORGANISER,
            variables: {
              name: this.name,
              logo: this.logo,
              address: this.address,
              email: this.email,
              phone: this.phone,
              description: this.description,
            },
          })
          .then((data) => {
            if (data.data["createOrganiser"].result) {
              successToast(data.data["createOrganiser"].message);
              this.$router.back();
            } else {
              failedToast(data.data["createOrganiser"].message);
            }
          })
          .catch((error) => {
            failedToast(error.graphQLErrors[0].extensions.validation.name[0]);
          });
      } else {
        failedToast("Please, fill all required field");
      }
    },
  },
};
</script>
