<template>
  <half-circle-spinner
    v-if="$apollo.queries.organiser.loading"
    disabled
    animation-duration="2000"
    size="20"
    color="#e43a06"
    class="spinner"
  />
  <CRow v-else>
    <CCol md="9">
      <CCard>
        <CCardBody>
          <CForm
            class="row g-3 needs-validation"
            @submit.prevent="updateOrganiser"
          >
            <CCol md="6" class="position-relative">
              <CFormLabel for="name">Name</CFormLabel>
              <CFormInput
                id="name"
                :value="name"
                v-model="name"
                class="admin"
                required
              />
              <CFormFeedback tooltip invalid>
                Please provide a valid name.
              </CFormFeedback>
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormLabel for="email">Email</CFormLabel>
              <CFormInput
                type="email"
                id="email"
                :value="email"
                v-model="email"
                class="admin"
                required
              />
              <CFormFeedback tooltip invalid>
                Please provide a valid email.
              </CFormFeedback>
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormLabel for="phone">Phone</CFormLabel>
              <CFormInput
                id="phone"
                :value="phone"
                v-model="phone"
                class="admin"
                required
              />
              <CFormFeedback tooltip invalid>
                Please provide a valid phone.
              </CFormFeedback>
            </CCol>
            <CCol md="6" class="position-relative">
              <CFormLabel for="address">Address</CFormLabel>
              <CFormInput
                id="address"
                :value="address"
                v-model="address"
                class="admin"
                required
              />
              <CFormFeedback tooltip invalid>
                Please provide a valid address.
              </CFormFeedback>
            </CCol>
            <CCol md="12" class="position-relative">
              <CFormLabel for="description">Description</CFormLabel>
              <ckeditor
                :editor="editor"
                :value="description"
                v-model="description"
                required
              ></ckeditor>
              <CFormFeedback tooltip invalid>
                Please provide a valid description.
              </CFormFeedback>
            </CCol>
            <div class="d-grid gap-2 d-md-flex justify-content-md">
              <CButton color="success" type="submit">Save</CButton>
              <CButton color="dark" @click="this.$router.back()"
                >Cancel</CButton
              >
            </div>
          </CForm>
        </CCardBody>
      </CCard>
    </CCol>
    <CCol md="3">
      <CCard>
        <CCardBody>
          <CForm class="row g-3 needs-validation">
            <CCol
              md="12"
              class="d-flex justify-content-center align-items-center position-relative"
            >
              <CCardImage :src="this.baseUrl + logo" />
            </CCol>
            <CCol
              md="12"
              class="d-flex justify-content-center align-items-center position-relative"
            >
              <span class="btn btn-primary btn-file">
                Upload new Logo
                <CFormInput
                  type="file"
                  id="logo"
                  class="admin btn btn-primary"
                  @change="updateLogo"
                  required
                />
              </span>
            </CCol>
          </CForm>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>
<style>
.ck-editor__editable {
  min-height: 300px;
}
</style>

<script>
import UPDATE_ORGANISER from "@/graphql/mutations/admin/organiser/UpdateOrganiser.gql";
import UPDATE_ORGANISER_LOGO from "@/graphql/mutations/admin/organiser/UpdateLogo.gql";
import ORGANISER from "@/graphql/queries/organiser/Organiser.gql";
import { failedToast, successToast, isEmpty } from "@/utilities/helper";
import { HalfCircleSpinner } from "epic-spinners";
import { BaseUrl } from "@/utilities/constants.js";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
export default {
  name: "UpdateOrganiser",
  components: {
    HalfCircleSpinner,
  },
  apollo: {
    organiser: {
      query: ORGANISER,
      variables() {
        return { id: this.id };
      },
      result(ApolloQueryResult) {
        this.data = ApolloQueryResult.data.organiser.data;
        this.name = this.data.name;
        this.logo = this.data.logo;
        this.address = this.data.address;
        this.email = this.data.email;
        this.phone = this.data.phone;
        this.description = this.data.description;
      },
      fetchPolicy: "cache-and-network",
    },
  },
  data() {
    return {
      baseUrl: BaseUrl,
      editor: ClassicEditor,
      id: this.$route.params.id,
      organiser: null,
      name: null,
      logo: null,
      file: null,
      address: null,
      description: null,
      email: null,
      phone: null,
    };
  },
  methods: {
    updateLogo(event) {
      this.file = event.target.files[0];
      this.$apollo
        .mutate({
          mutation: UPDATE_ORGANISER_LOGO,
          variables: {
            id: this.id,
            logo: this.file,
          },
        })
        .then((data) => {
          if (data.data["updateOrganiserLogo"].result) {
            successToast(data.data["updateOrganiserLogo"].message);
            this.$apollo.queries.organiser.refetch();
          } else {
            failedToast(data.data["updateOrganiserLogo"].message);
          }
        })
        .catch((error) => {
          failedToast(error.graphQLErrors[0].message);
        });
    },
    updateOrganiser() {
      if (
        !isEmpty(this.name) &&
        !isEmpty(this.address) &&
        !isEmpty(this.email) &&
        !isEmpty(this.phone) &&
        !isEmpty(this.description)
      ) {
        this.$apollo
          .mutate({
            mutation: UPDATE_ORGANISER,
            variables: {
              id: this.id,
              name: this.name,
              address: this.address,
              email: this.email,
              phone: this.phone,
              description: this.description,
            },
          })
          .then((data) => {
            if (data.data["updateOrganiser"].result) {
              successToast(data.data["updateOrganiser"].message);
              this.$router.back();
            } else {
              failedToast(data.data["updateOrganiser"].message);
            }
          })
          .catch((error) => {
            failedToast(error.graphQLErrors[0].message);
          });
      } else {
        failedToast("Please, fill all required field");
      }
    },
  },
};
</script>
