<template>
  <half-circle-spinner
    v-if="$apollo.queries.organisers.loading"
    disabled
    animation-duration="2000"
    size="20"
    color="#e43a06"
    class="spinner"
  />
  <div v-else>
    <a class="btn btn-dark" href="/admin/organiser/create">
      <CIcon icon="cil-plus" /> New
    </a>
    <CTable>
      <CTableHead>
        <CTableRow>
          <CTableHeaderCell scope="col">#</CTableHeaderCell>
          <CTableHeaderCell scope="col">Logo</CTableHeaderCell>
          <CTableHeaderCell scope="col">Name</CTableHeaderCell>
          <CTableHeaderCell scope="col">Action</CTableHeaderCell>
        </CTableRow>
      </CTableHead>
      <CTableBody>
        <CTableRow v-for="(organiser, index) in organisers.data" :key="index">
          <CTableHeaderCell scope="row">{{ organiser.id }}</CTableHeaderCell>
          <CTableDataCell
            ><CImage width="50" fluid :src="this.baseUrl + organiser.logo" />
          </CTableDataCell>
          <CTableDataCell>
            {{ organiser.name }}
          </CTableDataCell>
          <CTableDataCell>
            <div class="d-grid gap-2 d-md-flex justify-content-md">
              <a
                class="btn btn-primary"
                :href="'/admin/organiser/edit/' + organiser.id"
              >
                <i class="bi bi-pencil-square"></i>
              </a>
              <CButton color="danger" @click="deleteOrganiser(organiser.id)">
                <CIcon icon="cil-trash" />
              </CButton>
            </div>
          </CTableDataCell>
        </CTableRow>
      </CTableBody>
    </CTable>
    <CPagination
      class="d-flex justify-content-center mt-3"
      v-if="organisers && organisers.data.length > 0"
      aria-label="Page navigation example"
      style="direction: rtl"
    >
      <CPaginationItem
        aria-label="Previous"
        v-if="
          organisers.current_page <= organisers.last_page &&
          organisers.current_page != 1
        "
        :href="'/admin/organiser?page=' + (organisers.current_page - 1)"
        ><span aria-hidden="true">&laquo;</span></CPaginationItem
      >
      <CPaginationItem
        :href="'/admin/organiser?page=' + organisers.current_page"
        active
        >{{ organisers.current_page }}</CPaginationItem
      >
      <CPaginationItem
        aria-label="Next"
        v-if="organisers.current_page + 1 <= organisers.last_page"
        :href="'/admin/organiser?page=' + (organisers.current_page + 1)"
        ><span aria-hidden="true">&raquo;</span></CPaginationItem
      >
    </CPagination>
  </div>
</template>

<script>
import ORGANISER from "@/graphql/queries/organiser/Organisers.gql";
import DELETE_ORGANISER from "@/graphql/mutations/admin/organiser/DeleteOrganiser.gql";
import { failedToast, successToast } from "@/utilities/helper";
import { BaseUrl } from "@/utilities/constants.js";
import { HalfCircleSpinner } from "epic-spinners";
export default {
  name: "OrganiserView",
  components: {
    HalfCircleSpinner,
  },
  apollo: {
    organisers: {
      query: ORGANISER,
      fetchPolicy: "cache-and-network",
      variables() {
        return {
          page: this.$route.query.page ? parseInt(this.$route.query.page) : 1,
        };
      },
    },
  },
  data() {
    return {
      organisers: null,
      id: null,
      baseUrl: BaseUrl,
    };
  },
  methods: {
    deleteOrganiser(id) {
      this.$apollo
        .mutate({
          mutation: DELETE_ORGANISER,
          variables: {
            id: id,
          },
        })
        .then((data) => {
          if (data.data["deleteOrganiser"].result) {
            successToast(data.data["deleteOrganiser"].message);
            this.$apollo.queries.organisers.refetch();
            if (this.organisers.data.length == 1) {
              this.$router.replace({
                query: { page: this.$route.query.page - 1 },
              });
            }
          } else {
            failedToast(data.data["deleteOrganiser"].message);
          }
        })
        .catch((error) => {
          failedToast(error.graphQLErrors[0].message);
        });
    },
  },
};
</script>
