<template>
  <div>
    <AppSidebar />
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
      <AppHeader />
      <div class="body flex-grow-1 px-3">
        <CContainer lg>
          <router-view />
        </CContainer>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
// Import Main styles for this application
@import "../styles/style";
</style>
<script>
import { CContainer } from "@coreui/vue";
import AppHeader from "@/components/Admin/AppHeader.vue";
import AppSidebar from "@/components/Admin/AppSidebar.vue";

export default {
  name: "AdminLayout",
  components: {
    AppHeader,
    AppSidebar,
    CContainer,
  },
};
</script>
