<template>
  <router-view />
  <AppFooter :social="social" />
</template>
<script>
import AppFooter from "@/components/User/AppFooter.vue";
import SOCIAO_SETTINGS from "@/graphql/queries/setting/SocialSettings.gql";
export default {
  name: "UserLayout",
  components: {
    AppFooter,
  },
  apollo: {
    socialSettings: {
      query: SOCIAO_SETTINGS,
      fetchPolicy: "cache-and-network",
      result(data) {
        this.social.facebook = data.data.socialSettings.data.find(
          (setting) => setting.key === "facebook"
        ).value;
        this.social.tiktok = data.data.socialSettings.data.find(
          (setting) => setting.key === "tiktok"
        ).value;
        this.social.instagram = data.data.socialSettings.data.find(
          (setting) => setting.key === "instagram"
        ).value;
        this.social.twitter = data.data.socialSettings.data.find(
          (setting) => setting.key === "twitter"
        ).value;
      },
    },
  },
  data() {
    return {
      social: {
        facebook: null,
        tiktok: null,
        instagram: null,
        twitter: null,
      },
    };
  },
};
</script>
