<template>
  <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <CContainer>
      <CRow class="justify-content-center">
        <CCol :md="6">
          <CCardGroup>
            <CCard class="p-4">
              <CCardBody>
                <CForm class="row g-3 needs-validation" @submit.prevent="login">
                  <CInputGroup class="mb-3">
                    <CInputGroupText>
                      <CIcon icon="cil-user" />
                    </CInputGroupText>
                    <CFormInput
                      class="admin"
                      placeholder="Email"
                      autocomplete="username"
                      v-model="email"
                      required
                    />
                    <CFormFeedback invalid
                      >Please provide a valid email.</CFormFeedback
                    >
                  </CInputGroup>
                  <CInputGroup class="mb-4">
                    <CInputGroupText>
                      <CIcon icon="cil-lock-locked" />
                    </CInputGroupText>
                    <CFormInput
                      class="admin"
                      type="password"
                      placeholder="Password"
                      autocomplete="current-password"
                      v-model="password"
                      required
                    />
                    <CFormFeedback invalid
                      >Please provide a valid password.</CFormFeedback
                    >
                  </CInputGroup>
                  <CRow>
                    <CCol :xs="6">
                      <CButton
                        color="primary"
                        class="px-4 d-flex"
                        type="submit"
                        :disabled="clicked"
                      >
                        Login
                        <span
                          class="btn-ring"
                          id="btn-ring"
                          v-if="isLoading == true"
                        ></span>
                      </CButton>
                    </CCol>
                  </CRow>
                </CForm>
              </CCardBody>
            </CCard>
          </CCardGroup>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import LOGIN from "@/graphql/mutations/shared/auth/Login.gql";
import { successToast, failedToast } from "@/utilities/helper";
export default {
  name: "LoginView",
  data() {
    return {
      email: null,
      password: null,
      clicked: false,
      isLoading: false,
    };
  },
  methods: {
    login() {
      if (this.email && this.password) {
        this.clicked = true;
        this.isLoading = true;
        this.$apollo
          .mutate({
            mutation: LOGIN,
            variables: {
              email: this.email,
              password: this.password,
            },
          })
          .then((data) => {
            if (!data.data["login"].result) {
              this.clicked = false;
              this.isLoading = false;
              failedToast(data.data["login"].message);
            } else {
              let result = data.data["login"].data;
              localStorage.setItem("EMAIL", result.user.email);
              localStorage.setItem("TOKEN", result.token);
              successToast(data.data["login"].message);
              this.$router.push("/admin");
            }
          })
          .catch((error) => {
            this.clicked = false;
            this.isLoading = false;
            if (error.graphQLErrors[0].extensions.validation.password) {
              failedToast(
                error.graphQLErrors[0].extensions.validation.password.toString()
              );
            } else {
              failedToast(error.graphQLErrors[0].extensions.validation);
            }
          });
      } else {
        failedToast("Fill all Fields");
      }
    },
  },
};
</script>
